<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('群组成员管理')" />
    <link th:href="@{/css/im-admin.css}" rel="stylesheet"/>

    <style>
        .select-list ul li {
            margin: 0px 10px 5px 0px !important;
        }
        .select-list ul li input {
            width: 140px !important;
        }
        .select-list ul li select {
            width: 140px !important;
        }
        .member-stat-card {
            margin-bottom: 10px;
        }
        .ibox-content {
            padding: 10px 15px;
        }
        .ibox-title {
            padding: 10px 15px;
            min-height: 40px;
        }
        .no-margins {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    </style></head>
<body class="gray-bg">
    <div class="container-div im-page">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins member-stat-card">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">总</span>
                                <h5>成员总数</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-navy" id="totalCount">0</h2>
                                <small>群组成员总量</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins member-stat-card">
                            <div class="ibox-title">
                                <span class="label label-danger pull-right">主</span>
                                <h5>群主数量</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-danger" id="ownerCount">0</h2>
                                <small>群主人数</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins member-stat-card">
                            <div class="ibox-title">
                                <span class="label label-warning pull-right">管</span>
                                <h5>管理数量</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-warning" id="adminCount">0</h2>
                                <small>管理员人数</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins member-stat-card">
                            <div class="ibox-title">
                                <span class="label label-info pull-right">禁</span>
                                <h5>禁言数量</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-info" id="mutedCount">0</h2>
                                <small>已禁言成员</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 search-collapse">
                <form id="member-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label class="input-label">群组ID：</label><input type="text" name="groupId" placeholder="请输入群组ID"/>
                            </li>
                            <li>
                                <label class="input-label">用户昵称：</label><input type="text" name="userNickname" placeholder="请输入用户昵称"/>
                            </li>
                            <li>
                                <label class="input-label">角色：</label><select name="role">
                                    <option value="">所有</option>
                                    <option value="OWNER">群主</option>
                                    <option value="ADMIN">管理员</option>
                                    <option value="MEMBER">普通成员</option>
                                </select>
                            </li>
                            <li>
                                <label class="input-label">是否禁言：</label><select name="isMuted">
                                    <option value="">所有</option>
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <div class="btn-group-sm" id="toolbar">
                    <a class="btn btn-success" onclick="addMember()" shiro:hasPermission="im:group:member:add">
                        <i class="fa fa-plus"></i> 添加成员
                    </a>
                    <a class="btn btn-primary single disabled" onclick="editRole()" shiro:hasPermission="im:group:member:edit">
                        <i class="fa fa-edit"></i> 修改角色
                    </a>
                    <a class="btn btn-warning single disabled" onclick="toggleMute()" shiro:hasPermission="im:group:member:edit">
                        <i class="fa fa-ban"></i> 禁言/解禁
                    </a>
                    <a class="btn btn-info multiple disabled" onclick="batchMute()" shiro:hasPermission="im:group:member:edit">
                        <i class="fa fa-ban"></i> 批量禁言
                    </a>
                    <a class="btn btn-success multiple disabled" onclick="batchUnmute()" shiro:hasPermission="im:group:member:edit">
                        <i class="fa fa-check-circle"></i> 批量解禁
                    </a>
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="im:group:member:remove">
                        <i class="fa fa-remove"></i> 移除成员
                    </a>
                    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="im:group:member:export">
                        <i class="fa fa-download"></i> 导出
                    </a>
                </div>
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('im:group:member:edit')}]];
        var removeFlag = [[${@permission.hasPermi('im:group:member:remove')}]];
        var prefix = ctx + "im/member";

        $(function() {

            var options = {
                url: prefix + "/list",
                toolbar: "toolbar",
                height: 650,
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "群组成员",
                pagination: true,
                pageSize: 20,
                pageList: [10, 20, 50, 100],
                sidePagination: "server",
                fixedColumns: true,
                fixedNumber: 1,
                fixedRightNumber: 1,
                showColumns: true,
                showColumnsToggleAll: true,
                cookie: true,
                cookieIdTable: 'im_group_member_table',
                cookieExpire: '30d',
                showExport: true,
                exportDataType: 'all',
                exportTypes: ['excel'],
                exportOptions: {
                    fileName: '群组成员数据'
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'groupId',
                    title: '群组ID',
                    visible: false
                }, {
                    field: 'groupName',
                    title: '群组名称',
                    formatter: function(value, row, index) {
                        return '<span class="text-primary"><i class="fa fa-users"></i> ' + (value || '-') + '</span>';
                    }
                }, {
                    field: 'userId',
                    title: '用户ID',
                    visible: false
                }, {
                    field: 'userNickname',
                    title: '用户昵称',
                    formatter: function(value, row, index) {
                        return value || '-';
                    }
                }, {
                    field: 'userName',
                    title: '用户名',
                    visible: false
                }, {
                    field: 'nickname',
                    title: '群昵称',
                    formatter: function(value, row, index) {
                        return value || '-';
                    }
                }, {
                    field: 'role',
                    title: '角色',
                    align: 'center',
                    width: '100',
                    formatter: function(value, row, index) {
                        if (value === 'OWNER') {
                            return '<span class="badge badge-danger">群主</span>';
                        } else if (value === 'ADMIN') {
                            return '<span class="badge badge-warning">管理员</span>';
                        } else {
                            return '<span class="badge badge-info">成员</span>';
                        }
                    }
                }, {
                    field: 'isMuted',
                    title: '禁言状态',
                    align: 'center',
                    width: '100',
                    formatter: function(value, row, index) {
                        if (value == 1) {
                            return '<span class="badge badge-warning">已禁言</span>';
                        } else {
                            return '<span class="badge badge-success">正常</span>';
                        }
                    }
                }, {
                    field: 'userMobile',
                    title: '手机号',
                    formatter: function(value, row, index) {
                        return value || '-';
                    }
                }, {
                    field: 'createTime',
                    title: '加入时间',
                    width: '160',
                    sortable: true
                }, {
                    title: '操作',
                    align: 'center',
                    width: '180',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="changeRole(' + row.id + ', \'' + row.role + '\', ' + row.groupId + ', ' + row.userId + ')"><i class="fa fa-edit"></i>角色</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="toggleOne(' + row.id + ', ' + row.isMuted + ')"><i class="fa fa-ban"></i>禁言</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="removeMember(' + row.groupId + ', ' + row.userId + ')"><i class="fa fa-remove"></i>移除</a>');
                        return actions.join('');
                    }
                }],
                responseHandler: function(res) {
                    $.modal.closeLoading();
                    if (res.code === 0) {
                        return { rows: res.rows, total: res.total };
                    } else {
                        $.modal.alertWarning(res.msg);
                        return { rows: [], total: 0 };
                    }
                }
            };
            $.table.init(options);
            loadStatistics();
        });

        function loadStatistics() {
            $.get(prefix + "/statistics", function(result) {
                if (result.code == 0) {
                    var data = result.data || {};
                    $("#totalCount").text(data.totalCount || 0);
                    $("#ownerCount").text(data.ownerCount || 0);
                    $("#adminCount").text(data.adminCount || 0);
                    $("#mutedCount").text(data.mutedCount || 0);
                }
            });
        }

        function batchMute() {
            var rows = $.table.selectColumns("userId");
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            var groupIds = $.table.selectColumns("groupId");
            if (!groupIds[0]) {
                $.modal.alertWarning("未找到群组信息");
                return;
            }

            $.modal.confirm("确定要禁言选中的 " + rows.length + " 个成员吗?", function() {
                var data = {
                    groupId: groupIds[0],
                    userIds: rows,
                    isMuted: 1
                };
                $.operate.post(prefix + "/batchMute", data);
            });
        }

        function batchUnmute() {
            var rows = $.table.selectColumns("userId");
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            var groupIds = $.table.selectColumns("groupId");
            if (!groupIds[0]) {
                $.modal.alertWarning("未找到群组信息");
                return;
            }

            $.modal.confirm("确定要解除禁言选中的 " + rows.length + " 个成员吗?", function() {
                var data = {
                    groupId: groupIds[0],
                    userIds: rows,
                    isMuted: 0
                };
                $.operate.post(prefix + "/batchMute", data);
            });
        }

        function addMember() {
            var url = prefix + "/add";
            $.modal.open("添加群组成员", url, 550, 400);
        }

        function editRole() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            var row = $.table.selectFirstRows()[0];
            if (row.id) {
                changeRole(row.id, row.role, row.groupId, row.userId);
            } else {
                $.modal.alertWarning("请选择有效的记录");
            }
        }

        function changeRole(id, currentRole, groupId, userId) {
            var roles = ['OWNER', 'ADMIN', 'MEMBER'];
            var roleNames = { 'OWNER': '群主', 'ADMIN': '管理员', 'MEMBER': '普通成员' };

            top.layer.open({
                type: 1,
                title: '修改成员角色',
                area: ['480px', '260px'],
                content: '<div style="padding: 25px 30px 20px;">' +
                    '<p style="margin-bottom: 25px; font-size: 14px; text-align: center;">请选择新角色：</p>' +
                    '<div style="display: flex; justify-content: center; gap: 12px;">' +
                    '<button class="btn ' + (currentRole === 'OWNER' ? 'btn-default' : 'btn-danger') + '" id="btnOwner" style="padding: 10px 20px; border-radius: 4px;' + (currentRole === 'OWNER' ? 'opacity:0.5;cursor:not-allowed;' : '') + '">' +
                    '<i class="fa fa-crown"></i> 群主' +
                    '</button>' +
                    '<button class="btn ' + (currentRole === 'ADMIN' ? 'btn-default' : 'btn-warning') + '" id="btnAdmin" style="padding: 10px 20px; border-radius: 4px;' + (currentRole === 'ADMIN' ? 'opacity:0.5;cursor:not-allowed;' : '') + '">' +
                    '<i class="fa fa-shield"></i> 管理员' +
                    '</button>' +
                    '<button class="btn ' + (currentRole === 'MEMBER' ? 'btn-default' : 'btn-primary') + '" id="btnMember" style="padding: 10px 20px; border-radius: 4px;' + (currentRole === 'MEMBER' ? 'opacity:0.5;cursor:not-allowed;' : '') + '">' +
                    '<i class="fa fa-user"></i> 普通成员' +
                    '</button>' +
                    '</div>' +
                    '</div>',
                btn: ['取消'],
                yes: function(index) {
                    top.layer.close(index);
                },
                success: function(layero, index) {
                    if (currentRole !== 'OWNER') {
                        layero.find('#btnOwner').on('click', function() {
                            top.layer.close(index);
                            $.modal.confirm("确定要将该成员的角色修改为【群主】吗？", function() {
                                $.operate.post(prefix + "/role", { groupId: groupId, userId: userId, role: 'OWNER' });
                            });
                        });
                    }
                    if (currentRole !== 'ADMIN') {
                        layero.find('#btnAdmin').on('click', function() {
                            top.layer.close(index);
                            $.modal.confirm("确定要将该成员的角色修改为【管理员】吗？", function() {
                                $.operate.post(prefix + "/role", { groupId: groupId, userId: userId, role: 'ADMIN' });
                            });
                        });
                    }
                    if (currentRole !== 'MEMBER') {
                        layero.find('#btnMember').on('click', function() {
                            top.layer.close(index);
                            $.modal.confirm("确定要将该成员的角色修改为【普通成员】吗？", function() {
                                $.operate.post(prefix + "/role", { groupId: groupId, userId: userId, role: 'MEMBER' });
                            });
                        });
                    }
                }
            });
        }

        function toggleMute() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            var row = $.table.selectFirstRows()[0];
            if (!row.id) {
                $.modal.alertWarning("请选择有效的记录");
                return;
            }
            toggleOne(row.id, row.isMuted);
        }

        function toggleOne(id, currentMuted) {
            var newMuteStatus = currentMuted == 1 ? 0 : 1;
            $.modal.confirm("确定要" + (newMuteStatus == 1 ? "禁言" : "解除禁言") + "该成员吗？", function() {
                $.ajax({
                    url: prefix + "/mute",
                    type: 'post',
                    data: { id: id, isMuted: newMuteStatus },
                    success: function(result) {
                        if (result.code == 0) {
                            $.modal.msgSuccess("操作成功");
                            $.table.refresh();
                        } else {
                            $.modal.msgError(result.msg || "操作失败");
                        }
                    }
                });
            });
        }

        function removeMember(groupId, userId) {
            $.modal.confirm("确定要移除该成员吗？", function() {
                $.ajax({
                    url: prefix + "/remove",
                    type: 'post',
                    data: { groupId: groupId, userId: userId },
                    success: function(result) {
                        if (result.code == 0) {
                            $.modal.msgSuccess("移除成功");
                            $.table.refresh();
                        } else {
                            $.modal.msgError(result.msg || "移除失败");
                        }
                    }
                });
            });
        }
    </script>
</body>
</html>
