<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <th:block th:include="include :: header('应用管理')" />
</head>

<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <!-- 统计卡片区域 -->
            <div class="col-sm-12" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins" onclick="filterReset()" style="cursor: pointer;">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">总</span>
                                <h5>应用总数</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-success" id="totalCount">0</h2>
                                <small>系统内全部应用</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins" onclick="filterByVisibility('true')" style="cursor: pointer;">
                            <div class="ibox-title">
                                <span class="label label-info pull-right">启</span>
                                <h5>已启用应用</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-info" id="enabledCount">0</h2>
                                <small>当前可见应用</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins" onclick="filterByVisibility('false')"
                            style="cursor: pointer;">
                            <div class="ibox-title">
                                <span class="label label-warning pull-right">禁</span>
                                <h5>已禁用应用</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-warning" id="disabledCount">0</h2>
                                <small>当前隐藏应用</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins" onclick="filterBySystem('true')" style="cursor: pointer;">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">系</span>
                                <h5>系统级应用</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-navy" id="systemCount">0</h2>
                                <small>内置核心组件</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 搜索表单 -->
            <div class="col-sm-12 search-collapse">
                <form id="application-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                应用名称：<input type="text" name="name" placeholder="请输入" />
                            </li>
                            <li>
                                应用编码：<input type="text" name="code" placeholder="请输入" />
                            </li>
                            <li>
                                分类：<select name="category">
                                    <option value="">所有</option>
                                    <option value="OFFICE">办公</option>
                                    <option value="DATA">数据</option>
                                    <option value="TOOLS">工具</option>
                                    <option value="CUSTOM">自定义</option>
                                </select>
                            </li>
                            <li>
                                类型：<select name="appType">
                                    <option value="">所有</option>
                                    <option value="ROUTE">路由</option>
                                    <option value="IFRAME">嵌入</option>
                                    <option value="LINK">外部链接</option>
                                </select>
                            </li>
                            <li>
                                可见性：<select name="isVisible">
                                    <option value="">所有</option>
                                    <option value="true">可见</option>
                                    <option value="false">隐藏</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!-- 工具栏 + 表格 -->
            <div class="col-sm-12 select-table table-striped">
                <div class="btn-group-sm" id="toolbar" role="group">
                    <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="im:app:add">
                        <i class="fa fa-plus"></i> 新增
                    </a>
                    <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
                        shiro:hasPermission="im:app:edit">
                        <i class="fa fa-edit"></i> 修改
                    </a>
                    <a class="btn btn-warning multiple disabled" onclick="batchToggleVisibility()"
                        shiro:hasPermission="im:app:edit">
                        <i class="fa fa-eye-slash"></i> 显隐处理
                    </a>
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                        shiro:hasPermission="im:app:remove">
                        <i class="fa fa-trash"></i> 删除
                    </a>
                    <a class="btn btn-info" onclick="$.table.exportExcel()" shiro:hasPermission="im:app:export">
                        <i class="fa fa-download"></i> 导出
                    </a>
                </div>
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-table-export-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('im:app:edit') }]];
        var removeFlag = [[${@permission.hasPermi('im:app:remove') }]];
        var prefix = ctx + "im/application";

        $(function () {

            // 加载统计数据
            loadStatistics();
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "应用",
                showColumns: true,
                showRefresh: true,
                rememberSelected: true,
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'icon',
                    title: '图标',
                    width: 60,
                    align: 'center',
                    formatter: function (value) {
                        if (value) {
                            if (value.indexOf('fa-') !== -1 || value.indexOf('fa ') !== -1) {
                                return '<i class="' + value + ' fa-2x text-gray"></i>';
                            }
                            return '<img src="' + value + '" class="img-rounded" style="width:32px;height:32px;" onerror="this.src=\'/img/profile.jpg\'">';
                        }
                        return '<i class="fa fa-cube fa-2x text-gray"></i>';
                    }
                }, {
                    field: 'name',
                    title: '应用名称',
                    sortable: true,
                    width: 150
                }, {
                    field: 'code',
                    title: '应用编码',
                    width: 120
                }, {
                    field: 'category',
                    title: '分类',
                    align: 'center',
                    width: 80,
                    formatter: function (value) {
                        if (value === 'OFFICE') return '<span class="label label-primary">办公</span>';
                        if (value === 'DATA') return '<span class="label label-info">数据</span>';
                        if (value === 'TOOLS') return '<span class="label label-warning">工具</span>';
                        if (value === 'CUSTOM') return '<span class="label label-default">自定义</span>';
                        return value || '-';
                    }
                }, {
                    field: 'appType',
                    title: '类型',
                    align: 'center',
                    width: 80,
                    formatter: function (value) {
                        if (value === 'ROUTE') return '<span class="label label-success">路由</span>';
                        if (value === 'IFRAME') return '<span class="label label-info">嵌入</span>';
                        if (value === 'LINK') return '<span class="label label-primary">链接</span>';
                        return value || '-';
                    }
                }, {
                    field: 'appUrl',
                    title: '应用地址',
                    formatter: function (value) {
                        if (!value) return '-';
                        if (value.length > 40) {
                            return $.table.tooltip(value, 40);
                        }
                        return value;
                    }
                }, {
                    field: 'isSystem',
                    title: '系统应用',
                    align: 'center',
                    width: 90,
                    formatter: function (value) {
                        return value == true ? '<span class="label label-danger">是</span>' : '<span class="label label-default">否</span>';
                    }
                }, {
                    field: 'isVisible',
                    title: '状态',
                    align: 'center',
                    width: 80,
                    formatter: function (value) {
                        return value == true ? '<span class="label label-success">可见</span>' : '<span class="label label-warning">隐藏</span>';
                    }
                }, {
                    field: 'sortOrder',
                    title: '排序',
                    align: 'center',
                    width: 60,
                    sortable: true
                }, {
                    field: 'createTime',
                    title: '创建时间',
                    width: 160,
                    sortable: true
                }, {
                    title: '操作',
                    align: 'center',
                    width: 150,
                    formatter: function (value, row) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(' + row.id + ')"><i class="fa fa-edit"></i>编辑</a> ');
                        var toggleText = row.isVisible == true ? '隐藏' : '显示';
                        var toggleIcon = row.isVisible == true ? 'fa-eye-slash' : 'fa-eye';
                        var toggleClass = row.isVisible == true ? 'btn-warning' : 'btn-success';
                        actions.push('<a class="btn ' + toggleClass + ' btn-xs" href="javascript:void(0)" onclick="toggleOne(' + row.id + ', ' + row.isVisible + ')"><i class="fa ' + toggleIcon + '"></i>' + toggleText + '</a> ');
                        if (row.isSystem != true) {
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-trash"></i></a>');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        /**
         * 加载统计数据
         */
        function loadStatistics() {
            $.ajax({
                url: prefix + "/statistics",
                type: 'GET',
                success: function (result) {
                    if (result.code == 0 || result.code == 200) {
                        var data = result.data;
                        animateNumber('totalCount', data.totalCount || 0);
                        animateNumber('enabledCount', data.enabledCount || 0);
                        animateNumber('disabledCount', data.disabledCount || 0);
                        // 使用 systemCount 替代 todayVisitCount（如果没有系统应用统计，则使用 0）
                        var systemCount = data.systemCount || 0;
                        animateNumber('systemCount', systemCount);
                    }
                },
                error: function () {
                    $('#totalCount').text('-');
                    $('#enabledCount').text('-');
                    $('#disabledCount').text('-');
                    $('#systemCount').text('-');
                }
            });
        }

        /* 数字动画效果 */
        function animateNumber(elementId, targetValue) {
            var $element = $('#' + elementId);
            var currentValue = parseInt($element.text()) || 0;
            var diff = targetValue - currentValue;
            var duration = 500;
            var steps = 20;
            var stepValue = diff / steps;
            var stepDuration = duration / steps;
            var currentStep = 0;

            $element.addClass('animate');

            var timer = setInterval(function () {
                currentStep++;
                currentValue = Math.round(currentValue + stepValue);
                if (currentStep >= steps) {
                    currentValue = targetValue;
                    clearInterval(timer);
                    setTimeout(function () {
                        $element.removeClass('animate');
                    }, 200);
                }
                $element.text(currentValue);
            }, stepDuration);
        }

        /* 重置筛选 */
        function filterReset() {
            $('select[name="isVisible"]').val('');
            $('select[name="isSystem"]').val('');
            $('select[name="category"]').val('');
            $('select[name="appType"]').val('');
            $.table.search();
        }

        /* 按可见状态筛选 */
        function filterByVisibility(isVisible) {
            $('select[name="isVisible"]').val(isVisible);
            $.table.search();
        }

        /* 按系统应用筛选 */
        function filterBySystem(isSystem) {
            $('select[name="isSystem"]').val(isSystem);
            $.table.search();
        }
        /**
         * 批量切换可见状态
         */
        function batchToggleVisibility() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            var row = $.table.selectFirstRows()[0];
            var newVisibility = row.isVisible == true ? false : true;
            $.modal.confirm("确定要" + (newVisibility == true ? "显示" : "隐藏") + "选中的 " + rows.length + " 个应用吗？", function () {
                $.ajax({
                    url: prefix + "/batchVisibility",
                    type: 'put',
                    data: { ids: rows.join(','), isVisible: newVisibility },
                    success: function (result) {
                        if (result.code == 0) {
                            $.modal.msgSuccess("设置成功");
                            $.table.refresh();
                            loadStatistics();
                        } else {
                            $.modal.alertError(result.msg || "设置失败");
                        }
                    },
                    error: function () {
                        $.modal.alertError("设置失败");
                    }
                });
            });
        }

        function toggleOne(id, isVisible) {
            var newVisibility = !isVisible;
            $.ajax({
                url: prefix + "/visibility",
                type: 'put',
                data: { id: id, isVisible: newVisibility },
                success: function (result) {
                    if (result.code == 0) {
                        $.modal.msgSuccess("设置成功");
                        $.table.refresh();
                        loadStatistics();
                    } else {
                        $.modal.alertError(result.msg || "设置失败");
                    }
                },
                error: function () {
                    $.modal.alertError("设置失败");
                }
            });
        }
    </script>
</body>

</html>