<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('部门成员管理')" />
    <link th:href="@{/css/im-admin.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row" style="padding-top: 6px;">
            <!-- 统计卡片区域 -->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="stat-box stat-box-primary">
                            <div class="stat-number" id="totalCount">0</div>
                            <div class="stat-label">总成员数</div>
                            <i class="fa fa-users stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="stat-box stat-box-success">
                            <div class="stat-number" id="activeCount">0</div>
                            <div class="stat-label">在职成员</div>
                            <i class="fa fa-user-plus stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="stat-box stat-box-danger">
                            <div class="stat-number" id="leftCount">0</div>
                            <div class="stat-label">离职成员</div>
                            <i class="fa fa-user-minus stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="stat-box stat-box-warning">
                            <div class="stat-number" id="primaryCount">0</div>
                            <div class="stat-label">主部门成员</div>
                            <i class="fa fa-star stat-icon"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 搜索区域 -->
            <div class="col-sm-12 search-collapse" style="padding-top: 6px;">
                <form id="member-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label class="input-label">部门名称：</label><input type="text" name="departmentName" placeholder="请输入部门名称"/>
                            </li>
                            <li>
                                <label class="input-label">用户名：</label><input type="text" name="userName" placeholder="请输入用户名"/>
                            </li>
                            <li>
                                <label class="input-label">职位：</label><input type="text" name="position" placeholder="请输入职位"/>
                            </li>
                            <li>
                                <label class="input-label">状态：</label><select name="status">
                                    <option value="">所有</option>
                                    <option value="0">在职</option>
                                    <option value="1">离职</option>
                                </select>
                            </li>
                            <li>
                                <label class="input-label">是否主部门：</label><select name="isPrimary">
                                    <option value="">所有</option>
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="doSearch()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="clearSearch()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!-- 数据展示区域 -->
            <div class="col-sm-12 select-table table-striped">
                <!-- 批量操作按钮 -->
                <div class="btn-group-sm" id="toolbar">
                    <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="im:departmentMember:add">
                        <i class="fa fa-plus"></i> 新增
                    </a>
                    <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="im:departmentMember:edit">
                        <i class="fa fa-edit"></i> 修改
                    </a>
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="im:departmentMember:remove">
                        <i class="fa fa-remove"></i> 删除
                    </a>
                    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="im:departmentMember:export">
                        <i class="fa fa-download"></i> 导出
                    </a>
                </div>

                <!-- 搜索状态提示 -->
                <div class="search-status" id="searchStatus" style="display:none;">
                    <i class="fa fa-filter" style="color:#1c84c6;"></i>
                    搜索条件：<span class="search-conditions" style="color:#1c84c6; font-weight:500;"></span>
                    <a href="javascript:void(0)" onclick="clearSearch()" style="margin-left:10px; color:#1c84c6;">清除</a>
                </div>

                <!-- 数据表格 -->
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-table-export-js" />
    <script th:src="@{/js/im-common.js}"></script>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('im:departmentMember:edit')}]];
        var removeFlag = [[${@permission.hasPermi('im:departmentMember:remove')}]];
        var setPrimaryFlag = [[${@permission.hasPermi('im:departmentMember:edit')}]];
        var prefix = ctx + "im/departmentMember";

        $(function() {
            loadStatistics();

            var options = {
                url: prefix + "/list",
                toolbar: "toolbar",
                height: 650,
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "部门成员",
                // 分页配置
                pagination: true,
                pageSize: 20,
                pageList: [10, 20, 50, 100],
                sidePagination: "server",
                // 固定列配置
                fixedColumns: true,
                fixedNumber: 1,
                fixedRightNumber: 1,
                // 列显示/隐藏配置
                showColumns: true,
                showColumnsToggleAll: true,
                // 记住列选择
                cookie: true,
                cookieIdTable: 'im_department_member_table',
                cookieExpire: '30d',
                // 导出配置
                showExport: true,
                exportDataType: 'selected',
                exportTypes: ['excel'],
                exportOptions: {
                    fileName: '部门成员数据'
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'departmentName',
                    title: '部门名称',
                    width: '150',
                    sortable: true
                }, {
                    field: 'userName',
                    title: '用户名',
                    width: '120',
                    sortable: true
                }, {
                    field: 'userNickname',
                    title: '用户昵称',
                    width: '120'
                }, {
                    field: 'position',
                    title: '职位',
                    width: '120',
                    formatter: function(value, row, index) {
                        return value || '-';
                    }
                }, {
                    field: 'isPrimary',
                    title: '是否主部门',
                    align: 'center',
                    width: '100',
                    formatter: function(value, row, index) {
                        if (value == 1) {
                            return '<span class="badge badge-primary">是</span>';
                        }
                        return '<span class="badge badge-default">否</span>';
                    }
                }, {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    width: '80',
                    formatter: function(value, row, index) {
                        if (value == 0) return '<span class="badge badge-success">在职</span>';
                        return '<span class="badge badge-danger">离职</span>';
                    }
                }, {
                    field: 'joinTime',
                    title: '入职时间',
                    width: '160',
                    sortable: true
                }, {
                    field: 'leaveTime',
                    title: '离职时间',
                    width: '160',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return value || '-';
                    }
                }, {
                    field: 'createTime',
                    title: '创建时间',
                    width: '160',
                    sortable: true
                }, {
                    title: '操作',
                    align: 'center',
                    width: '150',
                    formatter: function(value, row, index) {
                        var menuItems = [];

                        // 根据条件添加"设为主部门"按钮
                        if (row.isPrimary != 1 && setPrimaryFlag) {
                            menuItems.push({ text: '设为主部门', icon: 'fa-star', action: 'setPrimary(' + row.userId + ',' + row.departmentId + ')' });
                        }
                        if (menuItems.length > 0) {
                            menuItems.push({ divider: true });
                        }
                        menuItems.push({ text: '删除', icon: 'fa-remove', action: '$.operate.remove(\'' + row.id + '\')', permissionClass: removeFlag });

                        var mainAction = {
                            text: '编辑',
                            icon: 'fa-edit',
                            action: '$.operate.edit(\'' + row.id + '\')',
                            permissionClass: editFlag,
                            btnClass: 'btn-success'
                        };

                        return ImCommon.buildActionDropdown(row, menuItems, mainAction);
                    }
                }],
                responseHandler: function(res) {
                    ImCommon.hideLoading();
                    return ImCommon.handleTableResponse(res, '暂无部门成员数据', '#bootstrap-table');
                },
                onLoadError: function(status) {
                    ImCommon.hideLoading();
                    $.modal.msgError("数据加载失败，请稍后重试");
                },
                onLoadSuccess: function() {
                    ImCommon.removeEmptyData('#bootstrap-table');
                },
                ajaxOptions: {
                    beforeSend: function() {
                        ImCommon.showLoading('.select-table');
                    },
                    complete: function() {
                        ImCommon.hideLoading();
                    }
                }
            };
            $.table.init(options);
        });

        /**
         * 加载统计数据
         */
        function loadStatistics() {
            ImCommon.loadStatisticsWithCache(
                prefix + "/statistics",
                function(data) {
                    $("#totalCount").text(data.totalCount || 0);
                    $("#activeCount").text(data.activeCount || 0);
                    $("#leftCount").text(data.leftCount || 0);
                    $("#primaryCount").text(data.primaryCount || 0);
                },
                'department_member_statistics',
                5
            );
        }

        /**
         * 设置主部门
         */
        function setPrimary(userId, departmentId) {
            $.modal.confirm("确定要设置为主部门吗？", function() {
                $.post(prefix + "/setPrimary", {
                    userId: userId,
                    departmentId: departmentId
                }, function(result) {
                    if (result.code == web_status.SUCCESS) {
                        $.modal.msgSuccess("设置成功");
                        $.table.refresh();
                        loadStatistics();
                    } else {
                        $.modal.alertError(result.msg);
                    }
                });
            });
        }

        /**
         * 清空搜索条件
         */
        function clearSearch() {
            $.form.reset();
            $('#searchStatus').hide();
            $.table.search();
        }

        /**
         * 执行搜索
         */
        function doSearch() {
            ImCommon.showSearchConditions('#member-form', '#searchStatus', 'clearSearch()');
            $.table.search();
        }
    </script>
</body>
</html>
