<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改用户设备</title>
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/ruoyi/css/ry-ui.css" th:href="@{/ruoyi/css/ry-ui.css?v=4.8.0}" rel="stylesheet"/>
</head>
<body class="white-bg">
    <form class="form-horizontal m" id="form-userDevice-edit" th:object="${userDevice}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">用户ID：</label>
            <div class="col-sm-8">
                <input name="userId" th:field="*{userId}" placeholder="请输入用户ID" class="form-control" type="number" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">用户名：</label>
            <div class="col-sm-8">
                <input name="username" th:field="*{username}" placeholder="请输入用户名" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">昵称：</label>
            <div class="col-sm-8">
                <input name="nickname" th:field="*{nickname}" placeholder="请输入昵称" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">设备类型：</label>
            <div class="col-sm-8">
                <select name="deviceType" class="form-control" th:field="*{deviceType}">
                    <option value="">请选择设备类型</option>
                    <option value="PC">PC端</option>
                    <option value="MOBILE">移动端</option>
                    <option value="WEB">Web端</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">设备ID：</label>
            <div class="col-sm-8">
                <input name="deviceId" th:field="*{deviceId}" placeholder="请输入设备唯一标识" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">设备名称：</label>
            <div class="col-sm-8">
                <input name="deviceName" th:field="*{deviceName}" placeholder="请输入设备名称" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">系统版本：</label>
            <div class="col-sm-8">
                <input name="osVersion" th:field="*{osVersion}" placeholder="请输入操作系统版本" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">应用版本：</label>
            <div class="col-sm-8">
                <input name="appVersion" th:field="*{appVersion}" placeholder="请输入应用版本" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">IP地址：</label>
            <div class="col-sm-8">
                <input name="ipAddress" th:field="*{ipAddress}" placeholder="请输入IP地址" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">位置：</label>
            <div class="col-sm-8">
                <input name="location" th:field="*{location}" placeholder="请输入位置信息" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8">
                <select name="status" class="form-control" th:field="*{status}">
                    <option value="">请选择状态</option>
                    <option value="ONLINE">在线</option>
                    <option value="OFFLINE">离线</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">最后活跃时间：</label>
            <div class="col-sm-8">
                <input name="lastActiveTime" th:field="*{lastActiveTime}" placeholder="请输入最后活跃时间" class="form-control" type="datetime-local">
            </div>
        </div>
    </form>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "im/userDevice";
        $("#form-userDevice-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-userDevice-edit').serialize());
            }
        }
    </script>
</body>
</html>