<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户设备管理')" />
    <link th:href="@{/css/im-admin.css}" rel="stylesheet"/>
    <link th:href="@{/css/im-stat-cards.css}" rel="stylesheet"/>
    <link th:href="@{/css/im-compact-layout.css}" rel="stylesheet"/>

    <style>
        .select-list ul li {
            margin: 0px 10px 5px 0px !important;
        }
        .select-list ul li input {
            width: 140px !important;
        }
        .select-list ul li select {
            width: 80px !important;
        }
        .time-input {
            width: 100px !important;
        }
    </style>
</head>
<body class="gray-bg">
    <div class="container-div im-page">
        <div class="row">
            <!-- 统计卡片区域 - 增强样式 -->
            <div class="col-sm-12" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins im-stat-card stat-card-primary" onclick="filterReset()" title="点击查看全部">
                            <div class="ibox-title">
                                <span class="stat-badge pull-right">总</span>
                                <h5 style="color: #fff; margin: 0;">设备总数</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="stat-number" id="totalCount">0</div>
                                <div class="stat-label">全部设备</div>
                                <i class="fa fa-desktop stat-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins im-stat-card stat-card-success" onclick="filterByStatus('ONLINE')" title="点击查看在线">
                            <div class="ibox-title">
                                <span class="stat-badge pull-right">在</span>
                                <h5 style="color: #fff; margin: 0;">在线设备</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="stat-number" id="onlineCount">0</div>
                                <div class="stat-label">当前在线</div>
                                <i class="fa fa-circle stat-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins im-stat-card stat-card-info" onclick="filterByType('PC')" title="点击查看PC端">
                            <div class="ibox-title">
                                <span class="stat-badge pull-right">PC</span>
                                <h5 style="color: #fff; margin: 0;">PC端设备</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="stat-number" id="pcCount">0</div>
                                <div class="stat-label">电脑端登录</div>
                                <i class="fa fa-laptop stat-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins im-stat-card stat-card-warning" onclick="filterByType('MOBILE')" title="点击查看移动端">
                            <div class="ibox-title">
                                <span class="stat-badge pull-right">移</span>
                                <h5 style="color: #fff; margin: 0;">移动端设备</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="stat-number" id="mobileCount">0</div>
                                <div class="stat-label">手机端登录</div>
                                <i class="fa fa-mobile stat-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 搜索表单 -->
            <div class="col-sm-12 search-collapse">
                <form id="userDevice-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label class="search-label label-2">用户名</label><input type="text" name="username" placeholder="请输入"/>
                            </li>
                            <li>
                                <label class="search-label label-2">类型</label><select name="deviceType">
                                    <option value="">全部</option>
                                    <option value="PC">PC端</option>
                                    <option value="MOBILE">移动端</option>
                                    <option value="WEB">Web端</option>
                                </select>
                            </li>
                            <li>
                                <label class="search-label label-2">状态</label><select name="status">
                                    <option value="">全部</option>
                                    <option value="ONLINE">在线</option>
                                    <option value="OFFLINE">离线</option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label class="search-label label-4">活跃时间</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <div class="btn-group-sm" id="toolbar">
                    <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="im:userDevice:add">
                        <i class="fa fa-plus"></i> 新增
                    </a>
                    <a class="btn btn-warning single disabled" onclick="forceOffline()" shiro:hasPermission="im:userDevice:edit">
                        <i class="fa fa-sign-out"></i> 强制下线
                    </a>
                    <a class="btn btn-info" onclick="showCleanModal()" shiro:hasPermission="im:userDevice:remove">
                        <i class="fa fa-trash"></i> 清理离线
                    </a>
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="im:userDevice:remove">
                        <i class="fa fa-remove"></i> 删除
                    </a>
                    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="im:userDevice:export">
                        <i class="fa fa-download"></i> 导出
                    </a>
                </div>
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>

    <!-- 清理离线设备弹窗 -->
    <div class="modal fade" id="cleanModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">清理离线设备</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>清理多少天未活跃的设备：</label>
                        <select class="form-control" id="cleanDays">
                            <option value="30">30天</option>
                            <option value="60">60天</option>
                            <option value="90" selected>90天</option>
                            <option value="180">180天</option>
                            <option value="365">365天</option>
                        </select>
                    </div>
                    <div class="alert alert-warning">
                        <i class="fa fa-warning"></i> 此操作将永久删除符合条件的离线设备记录，请谨慎操作！
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="doClean()">确认清理</button>
                </div>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-table-export-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('im:userDevice:edit')}]];
        var removeFlag = [[${@permission.hasPermi('im:userDevice:remove')}]];
        var prefix = ctx + "im/userDevice";

        $(function() {
            loadStatistics();

            var options = {
                url: prefix + "/list",
                toolbar: "toolbar",
                height: 650,
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "用户设备",
                pagination: true,
                pageSize: 20,
                pageList: [10, 20, 50, 100],
                sidePagination: "server",
                fixedColumns: true,
                fixedNumber: 1,
                fixedRightNumber: 1,
                showColumns: true,
                showColumnsToggleAll: true,
                cookie: true,
                cookieIdTable: 'im_user_device_table',
                cookieExpire: '30d',
                showExport: true,
                exportDataType: 'selected',
                exportTypes: ['excel'],
                exportOptions: {
                    fileName: '用户设备'
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'username',
                    title: '用户名',
                    sortable: true
                }, {
                    field: 'nickname',
                    title: '昵称',
                    formatter: function(value, row, index) {
                        return value || '-';
                    }
                }, {
                    field: 'deviceType',
                    title: '设备类型',
                    align: 'center',
                    width: '90',
                    formatter: function(value, row, index) {
                        if (value === 'PC') { return '<span class="badge badge-primary"><i class="fa fa-desktop"></i> PC</span>'; }
                        if (value === 'MOBILE') { return '<span class="badge badge-success"><i class="fa fa-mobile"></i> 移动</span>'; }
                        if (value === 'WEB') { return '<span class="badge badge-info"><i class="fa fa-globe"></i> Web</span>'; }
                        return '<span class="badge badge-default">' + (value || '-') + '</span>';
                    }
                }, {
                    field: 'deviceName',
                    title: '设备名称',
                    width: '150',
                    formatter: function(value, row, index) {
                        return '<i class="fa fa-mobile"></i> ' + (value || row.deviceId || '-');
                    }
                }, {
                    field: 'osVersion',
                    title: '系统版本',
                    width: '100',
                    formatter: function(value, row, index) {
                        return '<code>' + (value || '-') + '</code>';
                    }
                }, {
                    field: 'appVersion',
                    title: '应用版本',
                    width: '90',
                    formatter: function(value, row, index) {
                        return value ? 'v' + value : '-';
                    }
                }, {
                    field: 'ipAddress',
                    title: 'IP地址',
                    width: '130',
                    formatter: function(value, row, index) {
                        return '<code>' + (value || '-') + '</code>';
                    }
                }, {
                    field: 'location',
                    title: '位置',
                    width: '100',
                    formatter: function(value, row, index) {
                        return '<i class="fa fa-map-marker"></i> ' + (value || '-');
                    }
                }, {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    width: '90',
                    formatter: function(value, row, index) {
                        if (value === 'ONLINE') {
                            return '<span class="badge badge-success">在线</span>';
                        }
                        return '<span class="badge badge-default">离线</span>';
                    }
                }, {
                    field: 'lastActiveTime',
                    title: '最后活跃',
                    width: '160',
                    sortable: true
                }, {
                    field: 'createTime',
                    title: '首次登录',
                    width: '160',
                    sortable: true
                }, {
                    title: '操作',
                    align: 'center',
                    width: '150',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(' + row.id + ')"><i class="fa fa-edit"></i>修改</a> ');
                        if (row.status === 'ONLINE') {
                            actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="forceOfflineOne(' + row.id + ')"><i class="fa fa-sign-out"></i>下线</a> ');
                        }
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }],
                responseHandler: function(res) {
                    $.modal.closeLoading();
                    if (res.code === 0) {
                        return { rows: res.rows, total: res.total };
                    } else {
                        $.modal.alertWarning(res.msg);
                        return { rows: [], total: 0 };
                    }
                }
            };
            $.table.init(options);
        });

        function loadStatistics() {
            $.get(prefix + "/statistics", function(result) {
                if (result.code === 0) {
                    var data = result.data || {};
                    animateNumber('totalCount', data.totalCount || 0);
                    animateNumber('onlineCount', data.onlineCount || 0);
                    animateNumber('pcCount', data.pcCount || 0);
                    animateNumber('mobileCount', data.mobileCount || 0);
                }
            });
        }

        /**
         * 数字动画效果
         */
        function animateNumber(elementId, targetValue) {
            var $element = $('#' + elementId);
            var currentValue = parseInt($element.text()) || 0;
            var diff = targetValue - currentValue;
            var duration = 500;
            var steps = 20;
            var stepValue = diff / steps;
            var stepDuration = duration / steps;
            var currentStep = 0;

            $element.addClass('animate');

            var timer = setInterval(function() {
                currentStep++;
                currentValue = Math.round(currentValue + stepValue);
                if (currentStep >= steps) {
                    currentValue = targetValue;
                    clearInterval(timer);
                    setTimeout(function() {
                        $element.removeClass('animate');
                    }, 200);
                }
                $element.text(currentValue);
            }, stepDuration);
        }

        /**
         * 重置筛选
         */
        function filterReset() {
            $.form.reset();
            $.table.search();
        }

        /**
         * 按状态筛选
         */
        function filterByStatus(status) {
            if (status) {
                $('select[name="status"]').val(status);
            } else {
                $('select[name="status"]').val('');
            }
            $.table.search();
        }

        /**
         * 按设备类型筛选
         */
        function filterByType(deviceType) {
            if (deviceType) {
                $('select[name="deviceType"]').val(deviceType);
            } else {
                $('select[name="deviceType"]').val('');
            }
            $.table.search();
        }

        function showCleanModal() {
            $("#cleanModal").modal('show');
        }

        function doClean() {
            var days = $("#cleanDays").val();
            $("#cleanModal").modal('hide');
            $.ajax({
                url: prefix + "/clean",
                type: 'post',
                data: { days: days },
                success: function(result) {
                    if (result.code == 0) {
                        $.modal.msgSuccess(result.msg || "清理完成");
                        $.table.refresh();
                        loadStatistics();
                    } else {
                        $.modal.alertError(result.msg || "清理失败");
                    }
                }
            });
        }

        function forceOffline() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }

            $.modal.confirm("确定要强制下线选中的" + rows.length + "个设备吗？", function() {
                var completed = 0;
                var total = rows.length;
                var successCount = 0;
                var errorCount = 0;

                function forceNext() {
                    if (completed >= total) {
                        var msg = "批量下线完成！成功: " + successCount + "，失败: " + errorCount;
                        if (errorCount === 0) {
                            $.modal.msgSuccess(msg);
                        } else {
                            $.modal.msgWarning(msg);
                        }
                        $.table.refresh();
                        loadStatistics();
                        return;
                    }

                    forceOfflineOneById(rows[completed], function() {
                        completed++;
                        forceNext();
                    });
                }

                forceNext();
            });
        }

        function forceOfflineOne(id) {
            $.modal.confirm("确定要强制下线该设备吗？", function() {
                forceOfflineOneById(id, function() {
                    $.modal.msgSuccess("设备已下线");
                    $.table.refresh();
                    loadStatistics();
                });
            });
        }

        function forceOfflineOneById(id, callback) {
            $.ajax({
                url: prefix + "/offline/" + id,
                type: 'put',
                success: function(result) {
                    if (callback) {
                        callback();
                    }
                },
                error: function() {
                    if (callback) {
                        callback();
                    }
                }
            });
        }
    </script>
</body>
</html>
