<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户设备管理')" />
    <link th:href="@{/css/im-admin.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row" style="padding-top: 6px;">
            <!-- 统计卡片区域 -->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="stat-box stat-box-primary">
                            <div class="stat-number" id="totalCount">0</div>
                            <div class="stat-label">设备总数</div>
                            <i class="fa fa-mobile stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="stat-box stat-box-success">
                            <div class="stat-number" id="onlineCount">0</div>
                            <div class="stat-label">在线设备</div>
                            <i class="fa fa-circle stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="stat-box stat-box-warning">
                            <div class="stat-number" id="offlineCount">0</div>
                            <div class="stat-label">离线设备</div>
                            <i class="fa fa-circle-o stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="stat-box stat-box-danger">
                            <div class="stat-number" id="onlineUserCount">0</div>
                            <div class="stat-label">在线用户</div>
                            <i class="fa fa-users stat-icon"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 搜索区域 -->
            <div class="col-sm-12 search-collapse" style="padding-top: 6px;">
                <form id="userDevice-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label class="input-label">用户名：</label><input type="text" name="username" placeholder="请输入用户名"/>
                            </li>
                            <li>
                                <label class="input-label">昵称：</label><input type="text" name="nickname" placeholder="请输入昵称"/>
                            </li>
                            <li>
                                <label class="input-label">设备类型：</label><select name="deviceType">
                                    <option value="">所有</option>
                                    <option value="PC">PC端</option>
                                    <option value="MOBILE">移动端</option>
                                    <option value="WEB">Web端</option>
                                </select>
                            </li>
                            <li>
                                <label class="input-label">状态：</label><select name="status">
                                    <option value="">所有</option>
                                    <option value="ONLINE">在线</option>
                                    <option value="OFFLINE">离线</option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>活跃时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="doSearch()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="clearSearch()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!-- 数据展示区域 -->
            <div class="col-sm-12 select-table table-striped">
                <!-- 批量操作按钮 -->
                <div class="btn-group-sm" id="toolbar">
                    <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="im:userDevice:add">
                        <i class="fa fa-plus"></i> 新增
                    </a>
                    <a class="btn btn-warning single disabled" onclick="forceOffline()" shiro:hasPermission="im:userDevice:edit">
                        <i class="fa fa-sign-out"></i> 强制下线
                    </a>
                    <a class="btn btn-info" onclick="showCleanModal()" shiro:hasPermission="im:userDevice:remove">
                        <i class="fa fa-trash"></i> 清理离线
                    </a>
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="im:userDevice:remove">
                        <i class="fa fa-remove"></i> 删除
                    </a>
                    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="im:userDevice:export">
                        <i class="fa fa-download"></i> 导出
                    </a>
                </div>

                <!-- 搜索状态提示 -->
                <div class="search-status" id="searchStatus" style="display:none;">
                    <i class="fa fa-filter" style="color:#1c84c6;"></i>
                    搜索条件：<span class="search-conditions" style="color:#1c84c6; font-weight:500;"></span>
                    <a href="javascript:void(0)" onclick="clearSearch()" style="margin-left:10px; color:#1c84c6;">清除</a>
                </div>

                <!-- 数据表格 -->
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>

    <!-- 清理离线设备弹窗 -->
    <div class="modal fade" id="cleanModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">清理离线设备</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>清理多少天未活跃的设备：</label>
                        <select class="form-control" id="cleanDays">
                            <option value="30">30天</option>
                            <option value="60">60天</option>
                            <option value="90" selected>90天</option>
                            <option value="180">180天</option>
                            <option value="365">365天</option>
                        </select>
                    </div>
                    <div class="alert alert-warning">
                        <i class="fa fa-warning"></i> 此操作将永久删除符合条件的离线设备记录，请谨慎操作！
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="doClean()">确认清理</button>
                </div>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-table-export-js" />
    <script th:src="@{/js/im-common.js}"></script>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('im:userDevice:edit')}]];
        var removeFlag = [[${@permission.hasPermi('im:userDevice:remove')}]];
        var prefix = ctx + "im/userDevice";

        $(function() {
            loadStatistics();

            var options = {
                url: prefix + "/list",
                toolbar: "toolbar",
                height: 650,
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "用户设备",
                // 分页配置
                pagination: true,
                pageSize: 20,
                pageList: [10, 20, 50, 100],
                sidePagination: "server",
                // 固定列配置
                fixedColumns: true,
                fixedNumber: 1,
                fixedRightNumber: 1,
                // 列显示/隐藏配置
                showColumns: true,
                showColumnsToggleAll: true,
                // 记住列选择
                cookie: true,
                cookieIdTable: 'im_user_device_table',
                cookieExpire: '30d',
                // 导出配置
                showExport: true,
                exportDataType: 'selected',
                exportTypes: ['excel'],
                exportOptions: {
                    fileName: '用户设备'
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'username',
                    title: '用户名',
                    sortable: true
                }, {
                    field: 'nickname',
                    title: '昵称',
                    formatter: function(value, row, index) {
                        return value || '-';
                    }
                }, {
                    field: 'deviceType',
                    title: '设备类型',
                    align: 'center',
                    width: '90',
                    formatter: function(value, row, index) {
                        if (value === 'PC') { return '<span class="badge badge-primary"><i class="fa fa-desktop"></i> PC</span>'; }
                        if (value === 'MOBILE') { return '<span class="badge badge-success"><i class="fa fa-mobile"></i> 移动</span>'; }
                        if (value === 'WEB') { return '<span class="badge badge-info"><i class="fa fa-globe"></i> Web</span>'; }
                        return '<span class="badge badge-default">' + (value || '-') + '</span>';
                    }
                }, {
                    field: 'deviceName',
                    title: '设备名称',
                    width: '150',
                    formatter: function(value, row, index) {
                        return '<i class="fa fa-mobile"></i> ' + (value || row.deviceId || '-');
                    }
                }, {
                    field: 'osVersion',
                    title: '系统版本',
                    width: '100',
                    formatter: function(value, row, index) {
                        return '<code>' + (value || '-') + '</code>';
                    }
                }, {
                    field: 'appVersion',
                    title: '应用版本',
                    width: '90',
                    formatter: function(value, row, index) {
                        return value ? 'v' + value : '-';
                    }
                }, {
                    field: 'ipAddress',
                    title: 'IP地址',
                    width: '130',
                    formatter: function(value, row, index) {
                        return '<code>' + (value || '-') + '</code>';
                    }
                }, {
                    field: 'location',
                    title: '位置',
                    width: '100',
                    formatter: function(value, row, index) {
                        return '<i class="fa fa-map-marker"></i> ' + (value || '-');
                    }
                }, {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    width: '90',
                    formatter: function(value, row, index) {
                        if (value === 'ONLINE') {
                            return '<span class="badge badge-success"><span class="status-indicator status-online"></span>在线</span>';
                        }
                        return '<span class="badge badge-default"><span class="status-indicator status-offline"></span>离线</span>';
                    }
                }, {
                    field: 'lastActiveTime',
                    title: '最后活跃',
                    width: '160',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return ImCommon.formatDateTimeWithRelative(value);
                    }
                }, {
                    field: 'createTime',
                    title: '首次登录',
                    width: '160',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return ImCommon.formatDateTimeWithRelative(value);
                    }
                }, {
                    title: '操作',
                    align: 'center',
                    width: '180',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(' + row.id + ')"><i class="fa fa-edit"></i>修改</a> ');
                        if (row.status === 'ONLINE') {
                            actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="forceOfflineOne(' + row.id + ')"><i class="fa fa-sign-out"></i>下线</a> ');
                        }
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }],
                responseHandler: function(res) {
                    ImCommon.hideLoading();
                    return ImCommon.handleTableResponse(res, '暂无设备数据', '#bootstrap-table');
                },
                onLoadError: function(status) {
                    ImCommon.hideLoading();
                    $.modal.msgError("数据加载失败，请稍后重试");
                },
                onLoadSuccess: function() {
                    ImCommon.removeEmptyData('#bootstrap-table');
                },
                ajaxOptions: {
                    beforeSend: function() {
                        ImCommon.showLoading('.select-table');
                    },
                    complete: function() {
                        ImCommon.hideLoading();
                    }
                }
            };
            $.table.init(options);
        });

        /**
         * 加载统计数据
         */
        function loadStatistics() {
            ImCommon.loadStatisticsWithCache(
                prefix + "/statistics",
                function(data) {
                    $("#totalCount").text(data.totalCount || 0);
                    $("#onlineCount").text(data.onlineCount || 0);
                    $("#offlineCount").text(data.offlineCount || 0);
                    $("#onlineUserCount").text(data.onlineUserCount || 0);
                },
                'user_device_statistics',
                5
            );
        }

        /**
         * 清空搜索条件
         */
        function clearSearch() {
            $.form.reset();
            $('#searchStatus').hide();
            $.table.search();
        }

        /**
         * 执行搜索
         */
        function doSearch() {
            ImCommon.showSearchConditions('#userDevice-form', '#searchStatus', 'clearSearch()');
            $.table.search();
        }

        /**
         * 显示清理弹窗
         */
        function showCleanModal() {
            $("#cleanModal").modal('show');
        }

        /**
         * 执行清理
         */
        function doClean() {
            var days = $("#cleanDays").val();
            $("#cleanModal").modal('hide');
            $.ajax({
                url: prefix + "/clean",
                type: 'post',
                data: { days: days },
                success: function(result) {
                    if (result.code == 0) {
                        $.modal.msgSuccess(result.msg || "清理完成");
                        $.table.refresh();
                        loadStatistics();
                    } else {
                        $.modal.alertError(result.msg || "清理失败");
                    }
                }
            });
        }

        /**
         * 强制下线
         */
        function forceOffline() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }

            $.modal.confirm("确定要强制下线选中的" + rows.length + "个设备吗？", function() {
                var completed = 0;
                var total = rows.length;
                var successCount = 0;
                var errorCount = 0;

                function forceNext() {
                    if (completed >= total) {
                        var msg = "批量下线完成！成功: " + successCount + "，失败: " + errorCount;
                        if (errorCount === 0) {
                            $.modal.msgSuccess(msg);
                        } else {
                            $.modal.msgWarning(msg);
                        }
                        $.table.refresh();
                        loadStatistics();
                        return;
                    }

                    forceOfflineOne(rows[completed], function() {
                        completed++;
                        forceNext();
                    });
                }

                forceNext();
            });
        }

        /**
         * 强制单个设备下线
         */
        function forceOfflineOne(id, callback) {
            $.ajax({
                url: prefix + "/offline/" + id,
                type: 'put',
                success: function(result) {
                    if (result.code == 0) {
                        if (callback) {
                            callback();
                        } else {
                            $.modal.msgSuccess("设备已下线");
                            $.table.refresh();
                            loadStatistics();
                        }
                    } else {
                        if (callback) {
                            callback();
                        } else {
                            $.modal.alertError(result.msg || "操作失败");
                        }
                    }
                },
                error: function() {
                    if (callback) {
                        callback();
                    } else {
                        $.modal.alertError("操作失败");
                    }
                }
            });
        }
    </script>
</body>
</html>
