<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.im.mapper.ImApprovalNodeMapper">

    <resultMap type="com.ruoyi.im.domain.ImApprovalNode" id="ImApprovalNodeResult">
        <id property="id" column="id"/>
        <result property="templateId" column="template_id"/>
        <result property="nodeKey" column="node_key"/>
        <result property="nodeName" column="node_name"/>
        <result property="nodeType" column="node_type"/>
        <result property="approvers" column="approvers"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="createTime" column="create_time"/>
        <!-- 非数据库字段 -->
        <result property="approvalId" column="approval_id"/>
        <result property="approverIds" column="approver_ids"/>
        <result property="approveType" column="approve_type"/>
        <result property="status" column="status"/>
        <result property="processTime" column="process_time"/>
        <result property="processorId" column="processor_id"/>
    </resultMap>

    <sql id="selectImApprovalNodeVo">
        select id, template_id, node_key, node_name, node_type, approvers, sort_order, create_time
        from im_approval_node
    </sql>

    <select id="selectImApprovalNodeById" parameterType="Long" resultMap="ImApprovalNodeResult">
        <include refid="selectImApprovalNodeVo"/>
        where id = #{id}
    </select>

    <select id="selectNodesByTemplateId" parameterType="Long" resultMap="ImApprovalNodeResult">
        <include refid="selectImApprovalNodeVo"/>
        where template_id = #{templateId}
        order by sort_order
    </select>

    <select id="selectImApprovalNodeList" parameterType="com.ruoyi.im.domain.ImApprovalNode" resultMap="ImApprovalNodeResult">
        <include refid="selectImApprovalNodeVo"/>
        <where>
            <if test="templateId != null">and template_id = #{templateId}</if>
            <if test="nodeType != null and nodeType != ''">and node_type = #{nodeType}</if>
        </where>
        order by sort_order
    </select>

    <insert id="insertImApprovalNode" parameterType="com.ruoyi.im.domain.ImApprovalNode" useGeneratedKeys="true" keyProperty="id">
        insert into im_approval_node
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateId != null">template_id,</if>
            <if test="nodeKey != null and nodeKey != ''">node_key,</if>
            <if test="nodeName != null and nodeName != ''">node_name,</if>
            <if test="nodeType != null and nodeType != ''">node_type,</if>
            <if test="approvers != null">approvers,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateId != null">#{templateId},</if>
            <if test="nodeKey != null and nodeKey != ''">#{nodeKey},</if>
            <if test="nodeName != null and nodeName != ''">#{nodeName},</if>
            <if test="nodeType != null and nodeType != ''">#{nodeType},</if>
            <if test="approvers != null">#{approvers},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <insert id="batchInsertNodes" parameterType="java.util.List">
        insert into im_approval_node (template_id, node_key, node_name, node_type, approvers, sort_order, create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.templateId}, #{item.nodeKey}, #{item.nodeName}, #{item.nodeType}, #{item.approvers}, #{item.sortOrder}, NOW())
        </foreach>
    </insert>

    <update id="updateImApprovalNode" parameterType="com.ruoyi.im.domain.ImApprovalNode">
        update im_approval_node
        <trim prefix="SET" suffixOverrides=",">
            <if test="nodeName != null and nodeName != ''">node_name = #{nodeName},</if>
            <if test="nodeType != null and nodeType != ''">node_type = #{nodeType},</if>
            <if test="approvers != null">approvers = #{approvers},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImApprovalNodeById" parameterType="Long">
        delete from im_approval_node where id = #{id}
    </delete>

    <delete id="deleteNodesByTemplateId" parameterType="Long">
        delete from im_approval_node where template_id = #{templateId}
    </delete>
</mapper>
