<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.im.mapper.ImApprovalMapper">

    <resultMap type="com.ruoyi.im.domain.ImApproval" id="ImApprovalResult">
        <id property="id" column="id"/>
        <result property="templateId" column="template_id"/>
        <result property="title" column="title"/>
        <result property="applicantId" column="applicant_id"/>
        <result property="status" column="status"/>
        <result property="currentNodeId" column="current_node_id"/>
        <result property="formData" column="form_data"/>
        <result property="attachments" column="attachments"/>
        <result property="applyTime" column="apply_time"/>
        <result property="finishTime" column="finish_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="applicantName" column="applicant_name"/>
    </resultMap>

    <sql id="selectImApprovalVo">
        select id, template_id, title, applicant_id, status, current_node_id,
               form_data, attachments, apply_time, finish_time,
               create_by, create_time, update_by, update_time, remark
        from im_approval
    </sql>

    <select id="selectImApprovalById" parameterType="Long" resultMap="ImApprovalResult">
        <include refid="selectImApprovalVo"/>
        where id = #{id}
    </select>

    <select id="selectImApprovalList" parameterType="com.ruoyi.im.domain.ImApproval" resultMap="ImApprovalResult">
        select a.id, a.template_id, a.title, a.applicant_id, a.status, a.current_node_id,
               a.form_data, a.attachments, a.apply_time, a.finish_time,
               a.create_time, a.update_time, a.remark,
               u.nickname as applicant_name
        from im_approval a
        left join im_user u on a.applicant_id = u.id
        <where>
            <if test="templateId != null">and a.template_id = #{templateId}</if>
            <if test="applicantId != null">and a.applicant_id = #{applicantId}</if>
            <if test="status != null and status != ''">and a.status = #{status}</if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectPendingApprovalByApproverId" parameterType="Long" resultMap="ImApprovalResult">
        select distinct a.id, a.template_id, a.title, a.applicant_id, a.status,
               a.apply_time, a.finish_time, a.create_time,
               u.nickname as applicant_name
        from im_approval a
        inner join im_approval_node n on a.template_id = n.template_id
        left join im_user u on a.applicant_id = u.id
        where a.status = 'PENDING'
        and find_in_set(#{approverId}, n.approvers)
        order by a.create_time desc
    </select>

    <select id="selectApprovalByApplicantId" parameterType="Long" resultMap="ImApprovalResult">
        select a.id, a.template_id, a.title, a.applicant_id, a.status,
               a.apply_time, a.create_time,
               u.nickname as applicant_name
        from im_approval a
        left join im_user u on a.applicant_id = u.id
        where a.applicant_id = #{applicantId}
        order by a.create_time desc
    </select>

    <select id="selectProcessedApprovalByApproverId" parameterType="Long" resultMap="ImApprovalResult">
        select distinct a.id, a.template_id, a.title, a.applicant_id, a.status,
               a.apply_time, a.finish_time, a.create_time,
               u.nickname as applicant_name
        from im_approval a
        inner join im_approval_record r on a.id = r.approval_id
        left join im_user u on a.applicant_id = u.id
        where r.approver_id = #{approverId}
        order by r.action_time desc
    </select>

    <insert id="insertImApproval" parameterType="com.ruoyi.im.domain.ImApproval" useGeneratedKeys="true" keyProperty="id">
        insert into im_approval
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateId != null">template_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="applicantId != null">applicant_id,</if>
            <if test="status != null">status,</if>
            <if test="currentNodeId != null">current_node_id,</if>
            <if test="formData != null">form_data,</if>
            <if test="attachments != null">attachments,</if>
            <if test="applyTime != null">apply_time,</if>
            <if test="finishTime != null">finish_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateId != null">#{templateId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="applicantId != null">#{applicantId},</if>
            <if test="status != null">#{status},</if>
            <if test="currentNodeId != null">#{currentNodeId},</if>
            <if test="formData != null">#{formData},</if>
            <if test="attachments != null">#{attachments},</if>
            <if test="applyTime != null">#{applyTime},</if>
            <if test="finishTime != null">#{finishTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateImApproval" parameterType="com.ruoyi.im.domain.ImApproval">
        update im_approval
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="currentNodeId != null">current_node_id = #{currentNodeId},</if>
            <if test="formData != null">form_data = #{formData},</if>
            <if test="attachments != null">attachments = #{attachments},</if>
            <if test="finishTime != null">finish_time = #{finishTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImApprovalById" parameterType="Long">
        delete from im_approval where id = #{id}
    </delete>

    <delete id="deleteImApprovalByIds" parameterType="Long[]">
        delete from im_approval where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
