<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.im.mapper.ImE2EKeyMapper">

    <resultMap type="com.ruoyi.im.domain.ImE2EKey" id="ImE2EKeyResult">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="publicKey" column="public_key"/>
        <result property="keyVersion" column="key_version"/>
        <result property="keyAlgorithm" column="key_algorithm"/>
        <result property="keySize" column="key_size"/>
        <result property="isActive" column="is_active"/>
        <result property="createTime" column="create_time"/>
        <result property="expireTime" column="expire_time"/>
    </resultMap>

    <select id="selectActiveKeysByUserIds" resultMap="ImE2EKeyResult">
        SELECT * FROM im_e2e_key
        WHERE user_id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        AND is_active = 1
    </select>

</mapper>
