<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.im.mapper.ImGroupMemberMapper">
    
    <resultMap type="com.ruoyi.im.domain.ImGroupMember" id="ImGroupMemberResult">
        <id property="id" column="id"/>
        <result property="groupId" column="group_id"/>
        <result property="userId" column="user_id"/>
        <result property="role" column="role"/>
        <result property="groupNickname" column="group_nickname"/>
        <result property="muteEndTime" column="mute_end_time"/>
        <result property="inviterId" column="inviter_id"/>
        <result property="joinedTime" column="joined_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectImGroupMemberVo">
        select id, group_id, user_id, role, group_nickname, mute_end_time, inviter_id, joined_time, create_time, update_time 
        from im_group_member
    </sql>

    <select id="selectImGroupMemberById" parameterType="Long" resultMap="ImGroupMemberResult">
        <include refid="selectImGroupMemberVo"/>
        where id = #{id}
    </select>
    
    <select id="selectImGroupMemberList" parameterType="com.ruoyi.im.domain.ImGroupMember" resultMap="ImGroupMemberResult">
        <include refid="selectImGroupMemberVo"/>
        <where>
            <if test="groupId != null"> and group_id = #{groupId} </if>
            <if test="userId != null"> and user_id = #{userId} </if>
            <if test="role != null and role != ''"> and role = #{role} </if>
        </where>
    </select>

    <insert id="insertImGroupMember" parameterType="com.ruoyi.im.domain.ImGroupMember" useGeneratedKeys="true" keyProperty="id">
        insert into im_group_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null">group_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="role != null">role,</if>
            <if test="groupNickname != null">group_nickname,</if>
            <if test="muteEndTime != null">mute_end_time,</if>
            <if test="inviterId != null">inviter_id,</if>
            <if test="joinedTime != null">joined_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null">#{groupId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="role != null">#{role},</if>
            <if test="groupNickname != null">#{groupNickname},</if>
            <if test="muteEndTime != null">#{muteEndTime},</if>
            <if test="inviterId != null">#{inviterId},</if>
            <if test="joinedTime != null">#{joinedTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateImGroupMember" parameterType="com.ruoyi.im.domain.ImGroupMember">
        update im_group_member
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="role != null and role != ''">role = #{role},</if>
            <if test="groupNickname != null and groupNickname != ''">group_nickname = #{groupNickname},</if>
            <if test="muteEndTime != null">mute_end_time = #{muteEndTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImGroupMemberById" parameterType="Long">
        delete from im_group_member where id = #{id}
    </delete>

    <delete id="deleteImGroupMemberByIds" parameterType="Long[]">
        delete from im_group_member where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="selectImGroupMemberByGroupIdAndUserId" parameterType="map" resultMap="ImGroupMemberResult">
        select id, group_id, user_id, role, group_nickname, mute_end_time, inviter_id, joined_time, create_time, update_time
        from im_group_member
        where group_id = #{groupId} and user_id = #{userId}
    </select>
    
    <select id="selectImGroupMemberListByGroupId" parameterType="Long" resultMap="ImGroupMemberResult">
        select id, group_id, user_id, role, group_nickname, mute_end_time, inviter_id, joined_time, create_time, update_time
        from im_group_member
        where group_id = #{groupId}
    </select>
    
    <delete id="deleteImGroupMemberByGroupIds" parameterType="Long[]">
        delete from im_group_member where group_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>