<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.im.mapper.ImMessageReactionMapper">

    <resultMap type="com.ruoyi.im.domain.ImMessageReaction" id="ImMessageReactionResult">
        <id property="id" column="id"/>
        <result property="messageId" column="message_id"/>
        <result property="userId" column="user_id"/>
        <result property="reactionType" column="reaction_type"/>
        <result property="emoji" column="emoji"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectImMessageReactionVo">
        select id, message_id, user_id, reaction_type, emoji, create_time 
        from im_message_reaction
    </sql>

    <select id="selectImMessageReactionList" parameterType="com.ruoyi.im.domain.ImMessageReaction" resultMap="ImMessageReactionResult">
        <include refid="selectImMessageReactionVo"/>
        <where>  
            <if test="messageId != null"> AND message_id = #{messageId}</if>
            <if test="userId != null"> AND user_id = #{userId}</if>
            <if test="reactionType != null and reactionType != ''"> AND reaction_type = #{reactionType}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectImMessageReactionById" parameterType="Long" resultMap="ImMessageReactionResult">
        <include refid="selectImMessageReactionVo"/>
        where id = #{id}
    </select>

    <insert id="insertImMessageReaction" parameterType="com.ruoyi.im.domain.ImMessageReaction" useGeneratedKeys="true" keyProperty="id">
        insert into im_message_reaction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="messageId != null">message_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="reactionType != null">reaction_type,</if>
            <if test="emoji != null">emoji,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="messageId != null">#{messageId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="reactionType != null">#{reactionType},</if>
            <if test="emoji != null">#{emoji},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateImMessageReaction" parameterType="com.ruoyi.im.domain.ImMessageReaction">
        update im_message_reaction
        <trim prefix="SET" suffixOverrides=",">
            <if test="messageId != null">message_id = #{messageId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="reactionType != null">reaction_type = #{reactionType},</if>
            <if test="emoji != null">emoji = #{emoji},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImMessageReactionById" parameterType="Long">
        delete from im_message_reaction where id = #{id}
    </delete>

    <delete id="deleteImMessageReactionByIds" parameterType="String">
        delete from im_message_reaction where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectImMessageReactionByMessageId" parameterType="Long" resultMap="ImMessageReactionResult">
        <include refid="selectImMessageReactionVo"/>
        where message_id = #{messageId}
        order by create_time desc
    </select>

    <select id="selectImMessageReactionByUserId" parameterType="Long" resultMap="ImMessageReactionResult">
        <include refid="selectImMessageReactionVo"/>
        where user_id = #{userId}
        order by create_time desc
    </select>

    <delete id="deleteImMessageReactionByMessageId" parameterType="Long">
        delete from im_message_reaction where message_id = #{messageId}
    </delete>
</mapper>