<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.im.mapper.ImSessionMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.im.domain.ImSession">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="avatar" property="avatar" />
        <result column="peer_id" property="peerId" />
        <result column="user_id" property="userId" />
        <result column="unread_count" property="unreadCount" />
        <result column="is_pinned" property="isPinned" />
        <result column="is_muted" property="isMuted" />
        <result column="last_message" property="lastMessage" />
        <result column="last_message_time" property="lastMessageTime" />
        <result column="last_message_type" property="lastMessageType" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, type, name, avatar, peer_id, user_id, unread_count, is_pinned, is_muted, last_message, last_message_time, last_message_type, create_time, update_time
    </sql>

    <select id="selectImSessionById" parameterType="Long" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        from im_session
        where id = #{id}
    </select>

    <select id="selectImSessionList" parameterType="com.ruoyi.im.domain.ImSession" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        from im_session
        <where>
            <if test="type != null and type != ''"> and type = #{type} </if>
            <if test="userId != null"> and user_id = #{userId} </if>
            <if test="peerId != null"> and peer_id = #{peerId} </if>
            <if test="isPinned != null"> and is_pinned = #{isPinned} </if>
            <if test="isMuted != null"> and is_muted = #{isMuted} </if>
        </where>
        order by is_pinned desc, last_message_time desc
    </select>

    <select id="selectImSessionByUserId" parameterType="Long" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        from im_session
        where user_id = #{userId}
        order by is_pinned desc, last_message_time desc
    </select>

    <select id="selectSessionsByUserId" parameterType="Long" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        from im_session
        where user_id = #{userId}
        order by is_pinned desc, last_message_time desc
    </select>

    <select id="selectPrivateSession" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        from im_session
        where user_id = #{userId} and peer_id = #{peerId} and type = 'private'
        limit 1
    </select>

    <select id="selectImSessionByUserIdAndPeerId" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        from im_session
        where user_id = #{userId} and peer_id = #{peerId} and type = #{type}
        limit 1
    </select>

    <insert id="insertImSession" parameterType="com.ruoyi.im.domain.ImSession" useGeneratedKeys="true" keyProperty="id">
        insert into im_session
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null and type != ''">type,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="avatar != null and avatar != ''">avatar,</if>
            <if test="peerId != null">peer_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="unreadCount != null">unread_count,</if>
            <if test="isPinned != null">is_pinned,</if>
            <if test="isMuted != null">is_muted,</if>
            <if test="lastMessage != null">last_message,</if>
            <if test="lastMessageTime != null">last_message_time,</if>
            <if test="lastMessageType != null">last_message_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null and type != ''">#{type},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="avatar != null and avatar != ''">#{avatar},</if>
            <if test="peerId != null">#{peerId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="unreadCount != null">#{unreadCount},</if>
            <if test="isPinned != null">#{isPinned},</if>
            <if test="isMuted != null">#{isMuted},</if>
            <if test="lastMessage != null">#{lastMessage},</if>
            <if test="lastMessageTime != null">#{lastMessageTime},</if>
            <if test="lastMessageType != null">#{lastMessageType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateImSession" parameterType="com.ruoyi.im.domain.ImSession">
        update im_session
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="peerId != null">peer_id = #{peerId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="unreadCount != null">unread_count = #{unreadCount},</if>
            <if test="isPinned != null">is_pinned = #{isPinned},</if>
            <if test="isMuted != null">is_muted = #{isMuted},</if>
            <if test="lastMessage != null">last_message = #{lastMessage},</if>
            <if test="lastMessageTime != null">last_message_time = #{lastMessageTime},</if>
            <if test="lastMessageType != null">last_message_type = #{lastMessageType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImSessionById" parameterType="Long">
        delete from im_session where id = #{id}
    </delete>

    <delete id="deleteImSessionByIds" parameterType="String">
        delete from im_session where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateUnreadCount">
        update im_session
        set unread_count = #{unreadCount}
        where id = #{id}
    </update>

    <update id="incrementUnreadCount">
        update im_session
        set unread_count = unread_count + 1
        where id = #{id}
    </update>

    <update id="clearUnreadCount">
        update im_session
        set unread_count = 0
        where id = #{id}
    </update>

    <update id="updateLastMessage">
        update im_session
        set last_message = #{lastMessage},
            last_message_time = #{lastMessageTime},
            last_message_type = #{lastMessageType},
            update_time = #{updateTime}
        where id = #{id}
    </update>

    <select id="countUnreadMessages" parameterType="Long" resultType="java.lang.Integer">
        select sum(unread_count)
        from im_session
        where user_id = #{userId}
    </select>

</mapper>
