<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>新增群公告</title>
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/ruoyi/css/ry-ui.css" th:href="@{/ruoyi/css/ry-ui.css}" rel="stylesheet"/>
    <!-- datetimepicker 日期时间选择器 -->
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <form class="form-horizontal m" id="form-announcement-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">群组ID：</label>
            <div class="col-sm-8">
                <input name="groupId" placeholder="请输入群组ID" class="form-control" type="number" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">发送者ID：</label>
            <div class="col-sm-8">
                <input name="senderId" placeholder="请输入发送者用户ID" class="form-control" type="number" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公告类型：</label>
            <div class="col-sm-8">
                <select name="type" class="form-control">
                    <option value="1">普通公告</option>
                    <option value="2">系统公告</option>
                    <option value="3">活动通知</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公告内容：</label>
            <div class="col-sm-8">
                <textarea name="content" class="form-control" rows="12" placeholder="请输入公告内容" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">附件URL：</label>
            <div class="col-sm-8">
                <input name="attachmentUrl" placeholder="请输入附件URL（图片、文件等）" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">是否置顶：</label>
            <div class="col-sm-8">
                <select name="isPinned" class="form-control">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">过期时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="expireTime" placeholder="请选择过期时间" class="form-control" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
    </form>
    <div th:include="include :: footer"></div>
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript"> var ctx = [[@{/}]]; </script>
    <script th:inline="javascript">
        var prefix = ctx + "im/group/announcement";

        $(function() {
            // 初始化日期时间选择器
            $("input[name='expireTime']").parent(".input-group.date").datetimepicker({
                format: "yyyy-mm-dd hh:ii:ss",
                minView: "month",
                autoclose: true,
                todayBtn: true
            });
        });

        $("#form-announcement-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-announcement-add').serialize());
            }
        }
    </script>
</body>
</html>
