<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('审计日志')" />
    <link th:href="@{/css/im-admin.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
    <div class="container-div im-page">
        <div class="row">

            <!-- 统计卡片区域 - 使用RuoYi原生 ibox 样式 -->
            <div class="col-sm-12" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">总</span>
                                <h5>日志总数</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-success" id="totalCount">0</h2>
                                <small>系统日志总量</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">今</span>
                                <h5>今日日志</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-navy" id="todayCount">0</h2>
                                <small>今日产生日志</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-info pull-right">类</span>
                                <h5>操作类型</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-info" id="operationCount">0</h2>
                                <small>操作类型数量</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-danger pull-right">异</span>
                                <h5>异常操作</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-danger" id="errorCount">0</h2>
                                <small>失败操作记录</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 搜索表单 -->
            <div class="col-sm-12 search-collapse">
                <form id="auditLog-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                用户名：<input type="text" name="username" placeholder="请输入用户名"/>
                            </li>
                            <li>
                                操作类型：<select name="operationType">
                                    <option value="">所有</option>
                                    <option value="LOGIN">登录</option>
                                    <option value="LOGOUT">登出</option>
                                    <option value="SEND_MESSAGE">发送消息</option>
                                    <option value="DELETE_MESSAGE">删除消息</option>
                                    <option value="CREATE_GROUP">创建群组</option>
                                    <option value="ADD_FRIEND">添加好友</option>
                                    <option value="UPLOAD_FILE">上传文件</option>
                                </select>
                            </li>
                            <li>
                                目标类型：<select name="targetType">
                                    <option value="">所有</option>
                                    <option value="USER">用户</option>
                                    <option value="MESSAGE">消息</option>
                                    <option value="GROUP">群组</option>
                                    <option value="CONVERSATION">会话</option>
                                    <option value="FRIEND">好友</option>
                                    <option value="FILE">文件</option>
                                </select>
                            </li>
                            <li>
                                操作结果：<select name="operationResult">
                                    <option value="">所有</option>
                                    <option value="SUCCESS">成功</option>
                                    <option value="FAILED">失败</option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>操作时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!-- 工具栏 -->
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="showCleanModal()" shiro:hasPermission="im:auditLog:remove">
                    <i class="fa fa-trash"></i> 清理旧日志
                </a>
                <a class="btn btn-primary" onclick="$.table.exportExcel()" shiro:hasPermission="im:auditLog:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>

            <!-- 数据表格 -->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>

    <!-- 清理旧日志弹窗 -->
    <div class="modal fade" id="cleanModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">清理旧日志</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>保留多少天的日志：</label>
                        <select class="form-control" id="cleanDays">
                            <option value="30">30天</option>
                            <option value="60">60天</option>
                            <option value="90" selected>90天</option>
                            <option value="180">180天</option>
                            <option value="365">365天</option>
                        </select>
                    </div>
                    <div class="alert alert-warning">
                        <i class="fa fa-warning"></i> 此操作将永久删除指定天数之前的所有日志记录，请谨慎操作！
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="doClean()">确认清理</button>
                </div>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var exportFlag = [[${@permission.hasPermi('im:auditLog:export')}]];
        var prefix = ctx + "im/auditLog";

        $(function() {
            var options = {
                url: prefix + "/list",
                exportUrl: prefix + "/export",
                modalName: "审计日志",
                showColumns: true,
                showRefresh: true,
                rememberSelected: true,
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'username',
                    title: '操作用户',
                    sortable: true,
                    formatter: function(value, row) {
                        var name = value || '-';
                        if (row.nickname) {
                            return name + ' (' + row.nickname + ')';
                        }
                        return name;
                    }
                }, {
                    field: 'operationType',
                    title: '操作类型',
                    align: 'center',
                    width: 140,
                    formatter: function(value) {
                        var typeMap = {
                            'LOGIN': '<span class="label label-primary">登录</span>',
                            'LOGOUT': '<span class="label label-default">登出</span>',
                            'SEND_MESSAGE': '<span class="label label-info">发送消息</span>',
                            'DELETE_MESSAGE': '<span class="label label-warning">删除消息</span>',
                            'CREATE_GROUP': '<span class="label label-success">创建群组</span>',
                            'JOIN_GROUP': '<span class="label label-success">加入群组</span>',
                            'LEAVE_GROUP': '<span class="label label-warning">退出群组</span>',
                            'ADD_FRIEND': '<span class="label label-info">添加好友</span>',
                            'DELETE_FRIEND': '<span class="label label-danger">删除好友</span>',
                            'UPLOAD_FILE': '<span class="label label-primary">上传文件</span>',
                            'DOWNLOAD_FILE': '<span class="label label-info">下载文件</span>'
                        };
                        return typeMap[value] || '<span class="label label-default">' + (value || '-') + '</span>';
                    }
                }, {
                    field: 'targetType',
                    title: '目标类型',
                    align: 'center',
                    width: 90,
                    formatter: function(value) {
                        if (!value) return '-';
                        var typeMap = {
                            'USER': '<span class="label label-primary">用户</span>',
                            'MESSAGE': '<span class="label label-info">消息</span>',
                            'GROUP': '<span class="label label-success">群组</span>',
                            'CONVERSATION': '<span class="label label-warning">会话</span>',
                            'FRIEND': '<span class="label label-info">好友</span>',
                            'FILE': '<span class="label label-primary">文件</span>'
                        };
                        return typeMap[value] || '<span class="label label-default">' + value + '</span>';
                    }
                }, {
                    field: 'targetId',
                    title: '目标ID',
                    width: 90,
                    formatter: function(value) {
                        return value || '-';
                    }
                }, {
                    field: 'operationResult',
                    title: '结果',
                    align: 'center',
                    width: 90,
                    formatter: function(value) {
                        if (value === 'SUCCESS') {
                            return '<span class="label label-success"><i class="fa fa-check"></i> 成功</span>';
                        }
                        return '<span class="label label-danger"><i class="fa fa-times"></i> 失败</span>';
                    }
                }, {
                    field: 'errorMessage',
                    title: '错误信息',
                    width: 200,
                    formatter: function(value) {
                        if (!value) return '-';
                        if (value.length > 30) {
                            return $.table.tooltip(value, 30);
                        }
                        return '<span class="text-danger">' + value + '</span>';
                    }
                }, {
                    field: 'ipAddress',
                    title: 'IP地址',
                    width: 130,
                    formatter: function(value) {
                        return '<code>' + (value || '-') + '</code>';
                    }
                }, {
                    field: 'createTime',
                    title: '操作时间',
                    width: 160,
                    sortable: true
                }, {
                    title: '操作',
                    align: 'center',
                    width: 80,
                    formatter: function(value, row) {
                        return '<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="detail(' + row.id + ')"><i class="fa fa-search"></i>详情</a>';
                    }
                }]
            };
            $.table.init(options);
            loadStatistics();
        });
        /* 加载统计数据 */
        function loadStatistics() {
            $.get(prefix + "/statistics", function(result) {
                if (result.code == 0) {
                    var stats = result.data;
                    $("#totalCount").text(stats.totalCount || 0);
                    $("#todayCount").text(stats.todayCount || 0);
                    $("#operationCount").text(stats.operationCount || 0);
                    $("#errorCount").text(stats.errorCount || 0);
                }
            });
        }


        function showCleanModal() {
            $("#cleanModal").modal('show');
        }

        function doClean() {
            var days = $("#cleanDays").val();
            $("#cleanModal").modal('hide');
            $.modal.confirm('确定要清理 ' + days + ' 天前的日志记录吗？', function() {
                $.ajax({
                    url: prefix + "/clean",
                    type: 'post',
                    data: { days: days },
                    success: function(result) {
                        if (result.code == 0) {
                            $.modal.msgSuccess("清理完成");
                            $.table.refresh();
                        } else {
                            $.modal.alertError(result.msg || "清理失败");
                        }
                    },
                    error: function() {
                        $.modal.alertError("清理失败，请稍后重试");
                    }
                });
            });
        }

        function detail(id) {
            $.ajax({
                url: prefix + "/" + id,
                type: 'get',
                success: function(result) {
                    if (result.code == 0) {
                        var data = result.data;
                        var html = '<table class="table table-bordered">';
                        html += '<tr><th width="120">用户</th><td>' + (data.username || '-') + (data.nickname ? ' (' + data.nickname + ')' : '') + '</td></tr>';
                        html += '<tr><th>操作类型</th><td>' + (data.operationType || '-') + '</td></tr>';
                        html += '<tr><th>目标类型</th><td>' + (data.targetType || '-') + '</td></tr>';
                        html += '<tr><th>目标ID</th><td>' + (data.targetId || '-') + '</td></tr>';
                        html += '<tr><th>操作结果</th><td>' + (data.operationResult || '-') + '</td></tr>';
                        html += '<tr><th>错误信息</th><td>' + (data.errorMessage || '-') + '</td></tr>';
                        html += '<tr><th>IP地址</th><td>' + (data.ipAddress || '-') + '</td></tr>';
                        html += '<tr><th>操作时间</th><td>' + (data.createTime || '-') + '</td></tr>';
                        html += '</table>';
                        top.layer.open({
                            type: 1,
                            title: '日志详情',
                            area: ['95%', '90%'],
                            content: html
                        });
                    } else {
                        $.modal.alertError(result.msg || "查询失败");
                    }
                }
            });
        }
    </script>
</body>
</html>
