<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>新增IM用户</title>
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/ruoyi/css/ry-ui.css" th:href="@{/ruoyi/css/ry-ui.css?v=4.8.0}" rel="stylesheet"/>
</head>
<body class="white-bg">
    <form class="form-horizontal m" id="form-user-add">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">用户名称：</label>
            <div class="col-sm-8">
                <input name="username" placeholder="请输入用户名称" class="form-control" type="text" required autocomplete="off" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">用户昵称：</label>
            <div class="col-sm-8">
                <input name="nickname" placeholder="请输入用户昵称" class="form-control" type="text" required autocomplete="off" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">密码：</label>
            <div class="col-sm-8">
                <input name="password" placeholder="请输入密码" class="form-control" type="password" required autocomplete="new-password" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">手机号码：</label>
            <div class="col-sm-8">
                <input name="mobile" placeholder="请输入手机号码" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱：</label>
            <div class="col-sm-8">
                <input name="email" placeholder="请输入邮箱" class="form-control" type="email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">性别：</label>
            <div class="col-sm-8">
                <select name="gender" class="form-control">
                    <option value="0">未知</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">头像URL：</label>
            <div class="col-sm-8">
                <input name="avatar" placeholder="请输入头像URL" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8">
                <div class="radio-box">
                    <label><input type="radio" name="status" value="1" checked> 正常</label>
                    <label><input type="radio" name="status" value="0"> 停用</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">个性签名：</label>
            <div class="col-sm-8">
                <textarea name="signature" class="form-control" rows="3" placeholder="请输入个性签名"></textarea>
            </div>
        </div>
    </form>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript"> var ctx = [[@{/}]]; </script>
    <script th:inline="javascript">
        var prefix = ctx + "im/user";

        // 页面加载时清空所有表单字段，防止自动填充
        $(document).ready(function() {
            $('#form-user-add')[0].reset();
            // 清除浏览器自动填充的值
            $('input[type="text"], input[type="password"]').val('');
        });

        $("#form-user-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                // 再次清空可能被自动填充的密码
                $('input[name="password"]').val('');
                $.operate.save(prefix + "/add", $('#form-user-add').serialize());
            }
        }
    </script>
</body>
</html>
