<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('重置密码')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-user-resetPassword">
            <input name="userId" id="userId" type="hidden" th:value="${userId}"/>
            <div class="form-group">
                <label class="col-sm-3 control-label">用户名：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="username" name="username" th:value="${username}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">新密码：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="password" name="password" id="password" placeholder="请输入新密码" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">确认密码：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="请再次输入新密码" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-8">
                    <button type="button" class="btn btn-primary" onclick="submitHandler()">提交</button>
                    <button type="button" class="btn btn-default" onclick="$.modal.close()">取消</button>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "im/user";
        
        function submitHandler() {
            if ($.validate.form()) {
                var password = $("#password").val();
                var confirmPassword = $("#confirmPassword").val();
                
                if (password.length < 6) {
                    $.modal.msgError("密码长度不能少于6位");
                    return;
                }
                
                if (password !== confirmPassword) {
                    $.modal.msgError("两次输入的密码不一致");
                    return;
                }
                
                var userId = $("#userId").val();
                $.operate.save(prefix + "/" + userId + "/reset-password", {password: password});
            }
        }
    </script>
</body>
</html>