<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('IM用户管理')" />
    <link th:href="@{/css/im-admin.css}" rel="stylesheet"/>
    <style>
        /* 搜索栏紧凑优化 */
        .select-list ul li {
            margin: 0px 10px 5px 0px !important;
        }
        .select-list ul li input {
            width: 140px !important;
        }
        .select-list ul li select {
            width: 140px !important;
        }
        .time-input {
            width: 100px !important;
        }

        /* 统计卡片样式微调 */
        .user-stat-card {
            margin-bottom: 10px;
        }
        .ibox-content {
            padding: 10px 15px;
        }
        .ibox-title {
            padding: 10px 15px;
            min-height: 40px;
        }
    </style>
</head>
<body class="gray-bg">
    <div class="container-div im-page">
        <div class="row">
            <!-- 统计卡片区域 - 使用RuoYi原生 ibox 样式 -->
            <div class="col-sm-12" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins user-stat-card">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">总</span>
                                <h5>用户总量</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-success" id="totalCount">0</h2>
                                <small>系统注册用户</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins user-stat-card">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">线</span>
                                <h5>当前在线</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-navy" id="onlineCount">0</h2>
                                <small>实时在线人数</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins user-stat-card">
                            <div class="ibox-title">
                                <span class="label label-info pull-right">今</span>
                                <h5>今日新增</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-info" id="todayCount">0</h2>
                                <small>今日注册用户</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins user-stat-card">
                            <div class="ibox-title">
                                <span class="label label-danger pull-right">停</span>
                                <h5>停用账户</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-danger" id="disabledCount">0</h2>
                                <small>已停用用户数</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 搜索表单 -->
            <div class="col-sm-12 search-collapse">
                <form id="user-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                用户名：<input type="text" name="keyword" placeholder="请输入用户名"/>
                            </li>
                            <li>
                                手机号：<input type="text" name="mobile" placeholder="请输入手机号"/>
                            </li>
                            <li>
                                状态：<select name="status">
                                    <option value="">全部</option>
                                    <option value="1">正常</option>
                                    <option value="0">停用</option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>注册时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!-- 工具栏 -->
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="im:user:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="im:user:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="im:user:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="im:user:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>

            <!-- 数据表格 -->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-table-export-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('im:user:edit')}]];
        var removeFlag = [[${@permission.hasPermi('im:user:remove')}]];
        var prefix = ctx + "im/user";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                sortName: "createTime",
                sortOrder: "desc",
                modalName: "用户",
                showColumns: true,
                showRefresh: true,
                showToggle: true,
                clickToSelect: true,
                rememberSelected: true,
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    visible: false
                },
                {
                    field: 'avatar',
                    title: '头像',
                    align: 'center',
                    width: 60,
                    formatter: function(value, row, index) {
                        var img = value ? value : ctx + 'img/profile.jpg';
                        return '<img src="' + img + '" class="img-circle img-xs" onerror="this.src=\'' + ctx + 'img/profile.jpg\'">';
                    }
                },
                {
                    field: 'username',
                    title: '用户名',
                    width: 120,
                    sortable: true
                },
                {
                    field: 'nickname',
                    title: '昵称',
                    width: 120
                },
                {
                    field: 'mobile',
                    title: '手机号',
                    width: 130
                },
                {
                    field: 'email',
                    title: '邮箱',
                    width: 180,
                    formatter: function(value) {
                        if (!value) return '-';
                        return $.table.tooltip(value, 30);
                    }
                },
                {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    width: 80,
                    formatter: function(value, row, index) {
                        if (value == 1) {
                            return '<span class="label label-success">正常</span>';
                        } else {
                            return '<span class="label label-danger">停用</span>';
                        }
                    }
                },
                {
                    field: 'isOnline',
                    title: '在线状态',
                    align: 'center',
                    width: 100,
                    formatter: function(value, row, index) {
                        if (value == 1) {
                            return '<span class="label label-primary"><i class="fa fa-circle"></i> 在线</span>';
                        } else {
                            return '<span class="label label-default"><i class="fa fa-circle-o"></i> 离线</span>';
                        }
                    }
                },
                {
                    field: 'createTime',
                    title: '注册时间',
                    width: 160,
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    width: 200,
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        actions.push('<a class="btn btn-default btn-xs" href="javascript:void(0)" onclick="resetPwd(\'' + row.id + '\')"><i class="fa fa-key"></i>重置</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
            loadStatistics();
        });

        /* 加载统计数据 */
        function loadStatistics() {
            $.get(prefix + "/statistics", function(result) {
                if (result.code == 0) {
                    var stats = result.data;
                    $('#totalCount').text(stats.totalCount || 0);
                    $('#onlineCount').text(stats.onlineCount || 0);
                    $('#todayCount').text(stats.todayCount || 0);
                    $('#disabledCount').text(stats.disabledCount || 0);
                }
            });
        }

        /* 重置密码 */
        function resetPwd(id) {
            var url = prefix + '/resetPassword/' + id;
            $.modal.open("重置密码", url, '800', '300');
        }
    </script>
</body>
</html>
