<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('群组成员管理')" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <!-- 统计卡片区域 -->
        <div class="row stat-card-section">
            <div class="col-sm-3">
                <div class="ibox float-e-margins im-stat-card stat-card-primary" onclick="filterReset()">
                    <div class="ibox-title">
                        <span class="stat-badge pull-right">总</span>
                        <h5 style="color: #fff; margin: 0;">成员总数</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="stat-number" id="totalCount">0</div>
                        <div class="stat-label">群组成员总量</div>
                        <i class="fa fa-users stat-icon"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins im-stat-card stat-card-danger" onclick="filterByRole('OWNER')">
                    <div class="ibox-title">
                        <span class="stat-badge pull-right">主</span>
                        <h5 style="color: #fff; margin: 0;">群主数量</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="stat-number" id="ownerCount">0</div>
                        <div class="stat-label">群主人数</div>
                        <i class="fa fa-crown stat-icon"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins im-stat-card stat-card-warning" onclick="filterByRole('ADMIN')">
                    <div class="ibox-title">
                        <span class="stat-badge pull-right">管</span>
                        <h5 style="color: #fff; margin: 0;">管理数量</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="stat-number" id="adminCount">0</div>
                        <div class="stat-label">管理员人数</div>
                        <i class="fa fa-shield stat-icon"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins im-stat-card stat-card-info" onclick="filterByMuted()">
                    <div class="ibox-title">
                        <span class="stat-badge pull-right">禁</span>
                        <h5 style="color: #fff; margin: 0;">禁言数量</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="stat-number" id="mutedCount">0</div>
                        <div class="stat-label">已禁言成员</div>
                        <i class="fa fa-ban stat-icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- 搜索表单 -->
        <div class="row search-section">
            <div class="col-sm-12">
                <div class="im-panel">
                    <form id="member-form">
                        <div class="select-list">
                            <ul>
                                <li>
                                    <label class="search-label label-2">群组</label><input type="text" name="groupId" placeholder="群组ID"/>
                                </li>
                                <li>
                                    <label class="search-label label-4">群组名称</label><input type="text" name="groupName" placeholder="请输入"/>
                                </li>
                                <li>
                                    <label class="search-label label-4">用户昵称</label><input type="text" name="userNickname" placeholder="请输入"/>
                                </li>
                                <li>
                                    <label class="search-label label-2">角色</label><select name="role">
                                        <option value="">所有</option>
                                        <option value="OWNER">群主</option>
                                        <option value="ADMIN">管理员</option>
                                        <option value="MEMBER">普通成员</option>
                                    </select>
                                </li>
                                <li>
                                    <label class="search-label label-4">是否禁言</label><select name="isMuted">
                                        <option value="">所有</option>
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                </li>
                                <li>
                                    <a class="btn btn-primary btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                    <a class="btn btn-default btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 工具栏 + 表格 -->
        <div class="row table-section">
            <div class="col-sm-12">
                <!-- 批量操作按钮 -->
                <div class="im-toolbar">
                    <div class="im-batch-actions">
                        <a class="btn btn-success" onclick="addMember()" shiro:hasPermission="im:group:member:add">
                            <i class="fa fa-plus"></i> 添加成员
                        </a>
                        <a class="btn btn-primary" onclick="editRole()" shiro:hasPermission="im:group:member:edit">
                            <i class="fa fa-edit"></i> 修改角色
                        </a>
                        <a class="btn btn-warning" onclick="toggleMute()" shiro:hasPermission="im:group:member:edit">
                            <i class="fa fa-ban"></i> 禁言/解禁
                        </a>
                        <a class="btn btn-info" onclick="batchMute()" shiro:hasPermission="im:group:member:edit">
                            <i class="fa fa-ban"></i> 批量禁言
                        </a>
                        <a class="btn btn-success" onclick="batchUnmute()" shiro:hasPermission="im:group:member:edit">
                            <i class="fa fa-check-circle"></i> 批量解禁
                        </a>
                        <a class="btn btn-danger" onclick="$.operate.removeAll()" shiro:hasPermission="im:group:member:remove">
                            <i class="fa fa-trash"></i> 批量移除
                        </a>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-default btn-sm" onclick="$.table.refresh()">
                            <i class="fa fa-refresh"></i> 刷新
                        </a>
                        <a class="btn btn-default btn-sm" onclick="$.table.exportExcel()" shiro:hasPermission="im:group:member:export">
                            <i class="fa fa-download"></i> 导出
                        </a>
                    </div>
                </div>

                <!-- 数据表格 -->
                <div class="im-table-container">
                    <table id="bootstrap-table" data-mobile-responsive="true"></table>
                </div>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('im:group:member:edit')}]];
        var removeFlag = [[${@permission.hasPermi('im:group:member:remove')}]];
        var prefix = ctx + "im/member";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                sortName: "createTime",
                sortOrder: "desc",
                modalName: "群组成员",
                showColumns: true,
                showRefresh: false,
                showToggle: false,
                clickToSelect: true,
                rememberSelected: true,
                pagination: true,
                pageSize: 20,
                pageList: [10, 20, 50, 100],
                sidePagination: "server",
                columns: [{
                    checkbox: true,
                    width: 40,
                    align: 'center'
                }, {
                    field: 'id',
                    title: 'ID',
                    visible: false,
                    width: 60
                }, {
                    field: 'groupId',
                    title: '群组ID',
                    width: 80,
                    visible: false
                }, {
                    field: 'groupName',
                    title: '群组名称',
                    width: 140,
                    formatter: function(value) {
                        return value ? '<span class="text-primary"><i class="fa fa-users"></i> ' + value + '</span>' : '-';
                    }
                }, {
                    field: 'userId',
                    title: '用户ID',
                    width: 80,
                    visible: false
                }, {
                    field: 'userAvatar',
                    title: '头像',
                    align: 'center',
                    width: 50,
                    formatter: function(value, row) {
                        var img = row.userAvatar || ctx + 'img/profile.jpg';
                        return '<img src="' + img + '" class="img-circle img-xs" style="width:24px;height:24px;" onerror="this.src=\'' + ctx + 'img/profile.jpg\'">';
                    }
                }, {
                    field: 'userNickname',
                    title: '用户昵称',
                    width: 100,
                    formatter: function(value) {
                        return value || '-';
                    }
                }, {
                    field: 'userName',
                    title: '用户名',
                    width: 90,
                    formatter: function(value) {
                        return value || '-';
                    }
                }, {
                    field: 'nickname',
                    title: '群昵称',
                    width: 90,
                    formatter: function(value) {
                        return value || '-';
                    }
                }, {
                    field: 'role',
                    title: '角色',
                    align: 'center',
                    width: 70,
                    formatter: function(value) {
                        if (value === 'OWNER') {
                            return '<span class="im-badge im-badge-danger">群主</span>';
                        } else if (value === 'ADMIN') {
                            return '<span class="im-badge im-badge-warning">管理员</span>';
                        } else {
                            return '<span class="im-badge im-badge-info">成员</span>';
                        }
                    }
                }, {
                    field: 'isMuted',
                    title: '禁言状态',
                    align: 'center',
                    width: 70,
                    formatter: function(value) {
                        if (value == 1) {
                            return '<span class="im-badge im-badge-warning">已禁言</span>';
                        } else {
                            return '<span class="im-badge im-badge-success">正常</span>';
                        }
                    }
                }, {
                    field: 'userMobile',
                    title: '手机号',
                    width: 110,
                    formatter: function(value) {
                        return value || '-';
                    }
                }, {
                    field: 'userEmail',
                    title: '邮箱',
                    width: 140,
                    visible: false,
                    formatter: function(value) {
                        return value || '-';
                    }
                }, {
                    field: 'joinTime',
                    title: '加入时间',
                    width: 140,
                    sortable: true,
                    visible: false,
                    formatter: function(value) {
                        return value || '-';
                    }
                }, {
                    field: 'createTime',
                    title: '加入时间',
                    width: 140,
                    sortable: true,
                    formatter: function(value) {
                        return value || '-';
                    }
                }, {
                    field: 'updateTime',
                    title: '更新时间',
                    width: 140,
                    sortable: true,
                    visible: false
                }, {
                    title: '操作',
                    align: 'center',
                    width: 180,
                    class: 'action-cell',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="changeRole(' + row.id + ', \'' + row.role + '\', ' + row.groupId + ', ' + row.userId + ')" title="修改角色"><i class="fa fa-edit"></i></a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="toggleOne(' + row.id + ', ' + row.isMuted + ')" title="' + (row.isMuted == 1 ? '解除禁言' : '禁言') + '"><i class="fa fa-' + (row.isMuted == 1 ? 'check' : 'ban') + '"></i></a> ');
                        actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="viewDetail(' + row.id + ')" title="详情"><i class="fa fa-eye"></i></a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="removeMember(' + row.groupId + ', ' + row.userId + ')" title="移除"><i class="fa fa-trash"></i></a>');
                        return actions.join('');
                    }
                }],
                responseHandler: function(res) {
                    $.modal.closeLoading();
                    if (res.code === 0) {
                        return { rows: res.rows, total: res.total };
                    } else {
                        $.modal.alertWarning(res.msg);
                        return { rows: [], total: 0 };
                    }
                }
            };
            $.table.init(options);
            loadStatistics();
        });

        /* 加载统计数据 */
        function loadStatistics() {
            $.get(prefix + "/statistics", function(result) {
                if (result.code == 0) {
                    var data = result.data || {};
                    animateNumber('totalCount', data.totalCount || 0);
                    animateNumber('ownerCount', data.ownerCount || 0);
                    animateNumber('adminCount', data.adminCount || 0);
                    animateNumber('mutedCount', data.mutedCount || 0);
                }
            });
        }

        /* 数字动画效果 */
        function animateNumber(elementId, targetValue) {
            var $element = $('#' + elementId);
            var currentValue = parseInt($element.text()) || 0;
            var diff = targetValue - currentValue;
            var duration = 500;
            var steps = 20;
            var stepValue = diff / steps;
            var stepDuration = duration / steps;
            var currentStep = 0;

            $element.addClass('animate');

            var timer = setInterval(function() {
                currentStep++;
                currentValue = Math.round(currentValue + stepValue);
                if (currentStep >= steps) {
                    currentValue = targetValue;
                    clearInterval(timer);
                    setTimeout(function() {
                        $element.removeClass('animate');
                    }, 200);
                }
                $element.text(currentValue);
            }, stepDuration);
        }

        /* 重置筛选 */
        function filterReset() {
            $('select[name="role"]').val('');
            $('select[name="isMuted"]').val('');
            $.table.search();
        }

        /* 按角色筛选 */
        function filterByRole(role) {
            $('select[name="role"]').val(role);
            $.table.search();
        }

        /* 按禁言筛选 */
        function filterByMuted() {
            $('select[name="isMuted"]').val('1');
            $.table.search();
        }

        /* 添加成员 */
        function addMember() {
            var url = prefix + "/add";
            $.modal.open("添加群组成员", url, 550, 400);
        }

        /* 修改角色 */
        function editRole() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            var row = $.table.selectFirstRows()[0];
            if (row.id) {
                changeRole(row.id, row.role, row.groupId, row.userId);
            } else {
                $.modal.alertWarning("请选择有效的记录");
            }
        }

        /* 修改成员角色 */
        function changeRole(id, currentRole, groupId, userId) {
            var roles = ['OWNER', 'ADMIN', 'MEMBER'];
            var roleNames = { 'OWNER': '群主', 'ADMIN': '管理员', 'MEMBER': '普通成员' };

            top.layer.open({
                type: 1,
                title: '修改成员角色',
                area: ['480px', '260px'],
                content: '<div style="padding: 25px 30px 20px;">' +
                    '<p style="margin-bottom: 25px; font-size: 14px; text-align: center;">请选择新角色：</p>' +
                    '<div style="display: flex; justify-content: center; gap: 12px;">' +
                    '<button class="btn ' + (currentRole === 'OWNER' ? 'btn-default' : 'btn-danger') + '" id="btnOwner" style="padding: 10px 20px; border-radius: 4px;' + (currentRole === 'OWNER' ? 'opacity:0.5;cursor:not-allowed;' : '') + '">' +
                    '<i class="fa fa-crown"></i> 群主' +
                    '</button>' +
                    '<button class="btn ' + (currentRole === 'ADMIN' ? 'btn-default' : 'btn-warning') + '" id="btnAdmin" style="padding: 10px 20px; border-radius: 4px;' + (currentRole === 'ADMIN' ? 'opacity:0.5;cursor:not-allowed;' : '') + '">' +
                    '<i class="fa fa-shield"></i> 管理员' +
                    '</button>' +
                    '<button class="btn ' + (currentRole === 'MEMBER' ? 'btn-default' : 'btn-primary') + '" id="btnMember" style="padding: 10px 20px; border-radius: 4px;' + (currentRole === 'MEMBER' ? 'opacity:0.5;cursor:not-allowed;' : '') + '">' +
                    '<i class="fa fa-user"></i> 普通成员' +
                    '</button>' +
                    '</div>' +
                    '</div>',
                btn: ['取消'],
                yes: function(index) {
                    top.layer.close(index);
                },
                success: function(layero, index) {
                    if (currentRole !== 'OWNER') {
                        layero.find('#btnOwner').on('click', function() {
                            top.layer.close(index);
                            $.modal.confirm("确定要将该成员的角色修改为【群主】吗？", function() {
                                $.operate.post(prefix + "/role", { groupId: groupId, userId: userId, role: 'OWNER' }, function(result) {
                                    if (result.code == 0) {
                                        $.modal.msgSuccess("修改成功");
                                        $.table.refresh();
                                        loadStatistics();
                                    }
                                });
                            });
                        });
                    }
                    if (currentRole !== 'ADMIN') {
                        layero.find('#btnAdmin').on('click', function() {
                            top.layer.close(index);
                            $.modal.confirm("确定要将该成员的角色修改为【管理员】吗？", function() {
                                $.operate.post(prefix + "/role", { groupId: groupId, userId: userId, role: 'ADMIN' }, function(result) {
                                    if (result.code == 0) {
                                        $.modal.msgSuccess("修改成功");
                                        $.table.refresh();
                                        loadStatistics();
                                    }
                                });
                            });
                        });
                    }
                    if (currentRole !== 'MEMBER') {
                        layero.find('#btnMember').on('click', function() {
                            top.layer.close(index);
                            $.modal.confirm("确定要将该成员的角色修改为【普通成员】吗？", function() {
                                $.operate.post(prefix + "/role", { groupId: groupId, userId: userId, role: 'MEMBER' }, function(result) {
                                    if (result.code == 0) {
                                        $.modal.msgSuccess("修改成功");
                                        $.table.refresh();
                                        loadStatistics();
                                    }
                                });
                            });
                        });
                    }
                }
            });
        }

        /* 切换单个禁言 */
        function toggleMute() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            var row = $.table.selectFirstRows()[0];
            if (!row.id) {
                $.modal.alertWarning("请选择有效的记录");
                return;
            }
            toggleOne(row.id, row.isMuted);
        }

        function toggleOne(id, currentMuted) {
            var newMuteStatus = currentMuted == 1 ? 0 : 1;
            $.modal.confirm("确定要" + (newMuteStatus == 1 ? "禁言" : "解除禁言") + "该成员吗？", function() {
                $.ajax({
                    url: prefix + "/mute",
                    type: 'post',
                    data: { id: id, isMuted: newMuteStatus },
                    success: function(result) {
                        if (result.code == 0) {
                            $.modal.msgSuccess("操作成功");
                            $.table.refresh();
                            loadStatistics();
                        } else {
                            $.modal.msgError(result.msg || "操作失败");
                        }
                    }
                });
            });
        }

        /* 批量禁言 */
        function batchMute() {
            var rows = $.table.selectColumns("userId");
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            var groupIds = $.table.selectColumns("groupId");
            if (!groupIds[0]) {
                $.modal.alertWarning("未找到群组信息");
                return;
            }

            $.modal.confirm("确定要禁言选中的 " + rows.length + " 个成员吗?", function() {
                var data = {
                    groupId: groupIds[0],
                    userIds: rows,
                    isMuted: 1
                };
                $.operate.post(prefix + "/batchMute", data, function(result) {
                    if (result.code == 0) {
                        $.modal.msgSuccess("批量禁言成功");
                        $.table.refresh();
                        loadStatistics();
                    }
                });
            });
        }

        /* 批量解除禁言 */
        function batchUnmute() {
            var rows = $.table.selectColumns("userId");
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            var groupIds = $.table.selectColumns("groupId");
            if (!groupIds[0]) {
                $.modal.alertWarning("未找到群组信息");
                return;
            }

            $.modal.confirm("确定要解除禁言选中的 " + rows.length + " 个成员吗?", function() {
                var data = {
                    groupId: groupIds[0],
                    userIds: rows,
                    isMuted: 0
                };
                $.operate.post(prefix + "/batchMute", data, function(result) {
                    if (result.code == 0) {
                        $.modal.msgSuccess("批量解除禁言成功");
                        $.table.refresh();
                        loadStatistics();
                    }
                });
            });
        }

        /* 移除成员 */
        function removeMember(groupId, userId) {
            $.modal.confirm("确定要移除该成员吗？", function() {
                $.ajax({
                    url: prefix + "/remove",
                    type: 'post',
                    data: { groupId: groupId, userId: userId },
                    success: function(result) {
                        if (result.code == 0) {
                            $.modal.msgSuccess("移除成功");
                            $.table.refresh();
                            loadStatistics();
                        } else {
                            $.modal.msgError(result.msg || "移除失败");
                        }
                    }
                });
            });
        }

        /* 查看详情 */
        function viewDetail(id) {
            $.get(prefix + "/detail/" + id, function(result) {
                if (result.code == 0) {
                    var data = result.data;
                    var html = '<div class="row">';
                    html += '<div class="col-sm-6"><label class="control-label">记录ID：</label>' + (data.id || '-') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">群组名称：</label>' + (data.groupName || '-') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">用户昵称：</label>' + (data.userNickname || '-') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">用户名：</label>' + (data.userName || '-') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">群昵称：</label>' + (data.nickname || '-') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">角色：</label>' + (data.role === 'OWNER' ? '群主' : data.role === 'ADMIN' ? '管理员' : '普通成员') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">禁言状态：</label>' + (data.isMuted == 1 ? '已禁言' : '正常') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">手机号：</label>' + (data.userMobile || '-') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">加入时间：</label>' + (data.createTime || '-') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">更新时间：</label>' + (data.updateTime || '-') + '</div>';
                    html += '</div>';
                    $.modal.openOptions({
                        title: '成员详情',
                        width: "700",
                        btn: ['关闭'],
                        content: html
                    });
                }
            });
        }
    </script>
</body>
</html>
