<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改文件分享</title>
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/ruoyi/css/ry-ui.css" th:href="@{/ruoyi/css/ry-ui.css}" rel="stylesheet"/>
</head>
<body class="white-bg">
    <form class="form-horizontal m" id="form-fileShare-edit" th:object="${fileShare}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">分享标题：</label>
            <div class="col-sm-8">
                <input name="title" th:field="*{title}" placeholder="请输入分享标题" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">分享描述：</label>
            <div class="col-sm-8">
                <textarea name="description" th:field="*{description}" class="form-control" rows="3" placeholder="请输入分享描述"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">文件ID：</label>
            <div class="col-sm-8">
                <input name="fileId" th:field="*{fileId}" placeholder="请输入文件ID" class="form-control" type="number" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">分享类型：</label>
            <div class="col-sm-8">
                <select name="shareType" class="form-control" th:field="*{shareType}">
                    <option value="PRIVATE">私密分享</option>
                    <option value="PASSWORD">密码分享</option>
                    <option value="PUBLIC">公开分享</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">访问密码：</label>
            <div class="col-sm-8">
                <input name="accessPassword" th:field="*{accessPassword}" placeholder="请输入访问密码（如适用）" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">有效天数：</label>
            <div class="col-sm-8">
                <input name="validDays" th:field="*{validDays}" placeholder="请输入有效天数，0为永久有效" class="form-control" type="number">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">最大下载次数：</label>
            <div class="col-sm-8">
                <input name="maxDownloads" th:field="*{maxDownloads}" placeholder="请输入最大下载次数，0为无限制" class="form-control" type="number">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">分享者ID：</label>
            <div class="col-sm-8">
                <input name="sharerId" th:field="*{sharerId}" placeholder="请输入分享者ID" class="form-control" type="number" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8">
                <select name="status" class="form-control" th:field="*{status}">
                    <option value="ACTIVE">激活</option>
                    <option value="EXPIRED">已过期</option>
                    <option value="DISABLED">已禁用</option>
                </select>
            </div>
        </div>
    </form>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript"> var ctx = [[@{/}]]; </script>
    <script th:inline="javascript">
        var prefix = ctx + "im/fileShare";
        $("#form-fileShare-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-fileShare-edit').serialize());
            }
        }
    </script>
</body>
</html>