<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('应用管理')" />
    <link href="/css/im-admin.css" th:href="@{/css/im-admin.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 statistics-section">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="statistics-card stat-bg-blue">
                            <div class="stat-number" id="totalCount">0</div>
                            <div class="stat-label">应用总数</div>
                            <i class="fa fa-cube stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="statistics-card stat-bg-green">
                            <div class="stat-number" id="visibleCount">0</div>
                            <div class="stat-label">已发布</div>
                            <i class="fa fa-eye stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="statistics-card stat-bg-orange">
                            <div class="stat-number" id="hiddenCount">0</div>
                            <div class="stat-label">未发布</div>
                            <i class="fa fa-eye-slash stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="statistics-card stat-bg-purple">
                            <div class="stat-number" id="systemCount">0</div>
                            <div class="stat-label">系统应用</div>
                            <i class="fa fa-lock stat-icon"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 search-collapse">
                <form id="application-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                应用名称：<input type="text" name="name" value=""/>
                            </li>
                            <li>
                                应用编码：<input type="text" name="code" value=""/>
                            </li>
                            <li>
                                分类：<select name="category">
                                    <option value="">所有</option>
                                    <option value="OFFICE">办公</option>
                                    <option value="DATA">数据</option>
                                    <option value="TOOLS">工具</option>
                                    <option value="CUSTOM">自定义</option>
                                </select>
                            </li>
                            <li>
                                类型：<select name="appType">
                                    <option value="">所有</option>
                                    <option value="ROUTE">路由</option>
                                    <option value="IFRAME">嵌入</option>
                                    <option value="LINK">外部链接</option>
                                </select>
                            </li>
                            <li>
                                可见状态：<select name="isVisible">
                                    <option value="">所有</option>
                                    <option value="true">可见</option>
                                    <option value="false">隐藏</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="im:app:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="im:app:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-warning single disabled" onclick="toggleVisibility()" shiro:hasPermission="im:app:edit">
                    <i class="fa fa-eye-slash"></i> 显示/隐藏
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="im:app:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('im:app:edit')}]];
        var removeFlag = [[${@permission.hasPermi('im:app:remove')}]];
        var prefix = ctx + "im/application";

        $(function() {
            loadStatistics();

            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                modalName: "应用",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'icon',
                    title: '图标',
                    width: '60',
                    align: 'center',
                    formatter: function(value, row, index) {
                        if (value) {
                            if (value.indexOf('fa-') !== -1 || value.indexOf('fa ') !== -1) {
                                return '<i class="' + value + ' fa-2x text-gray"></i>';
                            }
                            return '<img src="' + value + '" class="app-icon" onerror="this.src=\'/img/profile.jpg\'">';
                        }
                        return '<i class="fa fa-cube fa-2x text-gray"></i>';
                    }
                },
                {
                    field: 'name',
                    title: '应用名称',
                    sortable: true,
                    width: '150'
                },
                {
                    field: 'code',
                    title: '应用编码',
                    width: '120'
                },
                {
                    field: 'category',
                    title: '分类',
                    align: 'center',
                    width: '80',
                    formatter: function(value, row, index) {
                        if (value === 'OFFICE') { return '<span class="badge badge-primary">办公</span>'; }
                        if (value === 'DATA') { return '<span class="badge badge-info">数据</span>'; }
                        if (value === 'TOOLS') { return '<span class="badge badge-warning">工具</span>'; }
                        if (value === 'CUSTOM') { return '<span class="badge badge-default">自定义</span>'; }
                        return value || '-';
                    }
                },
                {
                    field: 'appType',
                    title: '类型',
                    align: 'center',
                    width: '80',
                    formatter: function(value, row, index) {
                        if (value === 'ROUTE') { return '<span class="badge badge-success">路由</span>'; }
                        if (value === 'IFRAME') { return '<span class="badge badge-info">嵌入</span>'; }
                        if (value === 'LINK') { return '<span class="badge badge-primary">链接</span>'; }
                        return value || '-';
                    }
                },
                {
                    field: 'appUrl',
                    title: '应用地址',
                    formatter: function(value, row, index) {
                        if (value && value.length > 40) {
                            return '<span title="' + value + '">' + value.substring(0, 40) + '...</span>';
                        }
                        return value || '-';
                    }
                },
                {
                    field: 'isSystem',
                    title: '系统应用',
                    align: 'center',
                    width: '90',
                    formatter: function(value, row, index) {
                        if (value == true) return '<span class="badge badge-danger">是</span>';
                        return '<span class="badge badge-default">否</span>';
                    }
                },
                {
                    field: 'isVisible',
                    title: '状态',
                    align: 'center',
                    width: '80',
                    formatter: function(value, row, index) {
                        if (value == true) return '<span class="badge badge-success">可见</span>';
                        return '<span class="badge badge-warning">隐藏</span>';
                    }
                },
                {
                    field: 'sortOrder',
                    title: '排序',
                    align: 'center',
                    width: '60',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    width: '200',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(' + row.id + ')"><i class="fa fa-edit"></i>修改</a> ');
                        var toggleText = row.isVisible == true ? '隐藏' : '显示';
                        actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="toggleOne(' + row.id + ', ' + row.isVisible + ')"><i class="fa fa-eye"></i>' + toggleText + '</a> ');
                        if (row.isSystem != true) {
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function loadStatistics() {
            $.get(prefix + "/statistics")
            .done(function(result) {
                if (result.code == 0) {
                    $("#totalCount").text(result.data.totalApps || 0);
                    $("#visibleCount").text(result.data.visibleApps || 0);
                    $("#hiddenCount").text(result.data.hiddenApps || 0);
                    $("#systemCount").text(result.data.systemApps || 0);
                } else {
                    $.modal.alertError(result.msg || "加载统计数据失败");
                }
            })
            .fail(function() {
                $.modal.alertError("加载统计数据失败");
            });
        }

        function toggleVisibility() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            var row = $.table.selectFirstRows()[0];
            var newVisibility = row.isVisible == true ? false : true;
            $.modal.confirm("确定要" + (newVisibility == true ? "显示" : "隐藏") + "选中的 " + rows.length + " 个应用吗？", function() {
                $.ajax({
                    url: prefix + "/batchVisibility",
                    type: 'put',
                    data: {ids: rows.join(','), isVisible: newVisibility},
                    success: function(result) {
                        if (result.code == 0) {
                            $.modal.msgSuccess("设置成功");
                            $.table.refresh();
                            loadStatistics();
                        } else {
                            $.modal.alertError(result.msg || "设置失败");
                        }
                    },
                    error: function() {
                        $.modal.alertError("设置失败");
                    }
                });
            });
        }

        function toggleOne(id, isVisible) {
            var newVisibility = !isVisible;
            $.ajax({
                url: prefix + "/visibility",
                type: 'put',
                data: {id: id, isVisible: newVisibility},
                success: function(result) {
                    if (result.code == 0) {
                        $.modal.msgSuccess("设置成功");
                        $.table.refresh();
                        loadStatistics();
                    } else {
                        $.modal.alertError(result.msg || "设置失败");
                    }
                },
                error: function() {
                    $.modal.alertError("设置失败");
                }
            });
        }
    </script>
</body>
</html>
