{
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "vueIndentScriptAndStyle": false,

  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "printWidth": 120,
        "parser": "vue"
      }
    },
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
