<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('群组管理日志')" />
    <link th:href="@{/css/im-admin.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
    <div class="container-div im-page">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="log-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                日志总数：<a onclick="$.table.search()"><span class="label label-primary" id="totalCount">0</span></a>
                            </li>
                            <li>
                                添加成员：<a onclick="$('select[name=\\'operationType\\']').val('ADD_MEMBER');$.table.search()"><span class="label label-success" id="addCount">0</span></a>
                            </li>
                            <li>
                                移除成员：<a onclick="$('select[name=\\'operationType\\']').val('REMOVE_MEMBER');$.table.search()"><span class="label label-danger" id="removeCount">0</span></a>
                            </li>
                            <li>
                                修改角色：<a onclick="$('select[name=\\'operationType\\']').val('CHANGE_ROLE');$.table.search()"><span class="label label-warning" id="changeCount">0</span></a>
                            </li>
                            <li class="pull-right">
                                <label class="input-label">群组ID：</label><input type="text" name="groupId" placeholder="请输入群组ID"/>
                            </li>
                            <li class="pull-right">
                                <label class="input-label">群组名称：</label><input type="text" name="groupName" placeholder="请输入群组名称"/>
                            </li>
                            <li class="pull-right">
                                <label class="input-label">操作者ID：</label><input type="text" name="operatorId" placeholder="请输入操作者ID"/>
                            </li>
                            <li class="pull-right">
                                <label class="input-label">操作类型：</label><select name="operationType">
                                    <option value="">所有</option>
                                    <option value="ADD_MEMBER">添加成员</option>
                                    <option value="REMOVE_MEMBER">移除成员</option>
                                    <option value="CHANGE_ROLE">修改角色</option>
                                    <option value="MUTE_MEMBER">禁言成员</option>
                                    <option value="UNMUTE_MEMBER">解除禁言</option>
                                    <option value="DISMISS_GROUP">解散群组</option>
                                    <option value="CHANGE_OWNER">转让群主</option>
                                    <option value="UPDATE_INFO">修改群信息</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <div class="btn-group-sm" id="toolbar">
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="im:group:log:remove">
                        <i class="fa fa-remove"></i> 删除
                    </a>
                    <a class="btn btn-warning" onclick="exportData()" shiro:hasPermission="im:group:log:export">
                        <i class="fa fa-download"></i> 导出
                    </a>
                </div>
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var removeFlag = [[${@permission.hasPermi('im:group:log:remove')}]];
        var prefix = ctx + "im/group/log";

        $(function() {
            loadStatistics();

            var options = {
                url: prefix + "/list",
                toolbar: "toolbar",
                height: 650,
                exportUrl: prefix + "/export",
                modalName: "群组管理日志",
                pagination: true,
                pageSize: 20,
                pageList: [10, 20, 50, 100],
                sidePagination: "server",
                fixedColumns: true,
                fixedNumber: 1,
                fixedRightNumber: 1,
                showColumns: true,
                showColumnsToggleAll: true,
                cookie: true,
                cookieIdTable: 'im_group_log_table',
                cookieExpire: '30d',
                showExport: true,
                exportDataType: 'selected',
                exportTypes: ['excel'],
                exportOptions: {
                    fileName: '群组管理日志'
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'groupName',
                    title: '群组名称',
                    width: '150',
                    formatter: function(value, row, index) {
                        return '<span class="text-primary"><i class="fa fa-users"></i> ' + (value || '-') + '</span>';
                    }
                }, {
                    field: 'operatorName',
                    title: '操作者',
                    width: '100',
                    formatter: function(value, row, index) {
                        return '<span class="text-info"><i class="fa fa-user"></i> ' + (value || '-') + '</span>';
                    }
                }, {
                    field: 'operationType',
                    title: '操作类型',
                    align: 'center',
                    width: '140',
                    formatter: function(value, row, index) {
                        var typeMap = {
                            'ADD_MEMBER': '<span class="badge badge-success"><i class="fa fa-plus"></i> 添加成员</span>',
                            'REMOVE_MEMBER': '<span class="badge badge-danger"><i class="fa fa-minus"></i> 移除成员</span>',
                            'CHANGE_ROLE': '<span class="badge badge-info"><i class="fa fa-exchange"></i> 修改角色</span>',
                            'MUTE_MEMBER': '<span class="badge badge-warning"><i class="fa fa-ban"></i> 禁言成员</span>',
                            'UNMUTE_MEMBER': '<span class="badge badge-primary"><i class="fa fa-unlock"></i> 解除禁言</span>',
                            'DISMISS_GROUP': '<span class="badge badge-danger"><i class="fa fa-trash"></i> 解散群组</span>',
                            'CHANGE_OWNER': '<span class="badge badge-warning"><i class="fa fa-share"></i> 转让群主</span>',
                            'UPDATE_INFO': '<span class="badge badge-info"><i class="fa fa-edit"></i> 修改群信息</span>'
                        };
                        return typeMap[value] || (value || '-');
                    }
                }, {
                    field: 'operationDesc',
                    title: '操作描述',
                    width: '350',
                    formatter: function(value, row, index) {
                        var desc = value || '-';
                        if (row.targetUserName) {
                            desc += ' <span class="text-muted">（目标：' + row.targetUserName + '）</span>';
                        }
                        if (desc.length > 50) {
                            return '<span title="' + desc + '">' + desc.substring(0, 50) + '...</span>';
                        }
                        return desc;
                    }
                }, {
                    field: 'targetUserName',
                    title: '目标用户',
                    width: '100',
                    formatter: function(value, row, index) {
                        return value ? '<span class="text-muted"><i class="fa fa-user"></i> ' + value + '</span>' : '-';
                    }
                }, {
                    field: 'createTime',
                    title: '操作时间',
                    width: '160',
                    sortable: true
                }, {
                    title: '操作',
                    align: 'center',
                    width: '100',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }],
                responseHandler: function(res) {
                    $.modal.closeLoading();
                    if (res.code === 0) {
                        return { rows: res.rows, total: res.total };
                    } else {
                        $.modal.alertWarning(res.msg);
                        return { rows: [], total: 0 };
                    }
                }
            };
            $.table.init(options);
        });

        function loadStatistics() {
            $.get(prefix + "/statistics", function(result) {
                if (result.code === 0) {
                    $("#totalCount").text(result.data.totalCount || 0);
                    $("#addCount").text(result.data.addCount || 0);
                    $("#removeCount").text(result.data.removeCount || 0);
                    $("#changeCount").text(result.data.changeCount || 0);
                }
            });
        }

        function exportData() {
            var currentFormId = $.table._option.formId;
            var params = $("#" + currentFormId).serializeArray();
            var url = $.table._option.exportUrl;
            $.modal.loading("正在导出数据，请稍候...");
            window.location.href = url + "?" + $.param(params);
            setTimeout(function() {
                $.modal.closeLoading();
            }, 2000);
        }
    </script>
</body>
</html>
