<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('群组管理日志')" />
    <link th:href="@{/css/im-admin.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row" style="padding-top: 6px;">
            <!-- 统计卡片区域 -->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="stat-box stat-box-primary">
                            <div class="stat-number" id="totalCount">0</div>
                            <div class="stat-label">日志总数</div>
                            <i class="fa fa-list-alt stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="stat-box stat-box-success">
                            <div class="stat-number" id="addCount">0</div>
                            <div class="stat-label">添加成员</div>
                            <i class="fa fa-user-plus stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="stat-box stat-box-danger">
                            <div class="stat-number" id="removeCount">0</div>
                            <div class="stat-label">移除成员</div>
                            <i class="fa fa-user-times stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="stat-box stat-box-warning">
                            <div class="stat-number" id="changeCount">0</div>
                            <div class="stat-label">修改角色</div>
                            <i class="fa fa-exchange stat-icon"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 搜索区域 -->
            <div class="col-sm-12 search-collapse" style="padding-top: 6px;">
                <form id="log-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label class="input-label">群组ID：</label><input type="text" name="groupId" placeholder="请输入群组ID"/>
                            </li>
                            <li>
                                <label class="input-label">群组名称：</label><input type="text" name="groupName" placeholder="请输入群组名称"/>
                            </li>
                            <li>
                                <label class="input-label">操作者ID：</label><input type="text" name="operatorId" placeholder="请输入操作者ID"/>
                            </li>
                            <li>
                                <label class="input-label">操作类型：</label><select name="operationType">
                                    <option value="">所有</option>
                                    <option value="ADD_MEMBER">添加成员</option>
                                    <option value="REMOVE_MEMBER">移除成员</option>
                                    <option value="CHANGE_ROLE">修改角色</option>
                                    <option value="MUTE_MEMBER">禁言成员</option>
                                    <option value="UNMUTE_MEMBER">解除禁言</option>
                                    <option value="DISMISS_GROUP">解散群组</option>
                                    <option value="CHANGE_OWNER">转让群主</option>
                                    <option value="UPDATE_INFO">修改群信息</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="doSearch()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="clearSearch()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!-- 数据展示区域 -->
            <div class="col-sm-12 select-table table-striped">
                <!-- 批量操作按钮 -->
                <div class="btn-group-sm" id="toolbar" role="group">
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="im:group:log:remove">
                        <i class="fa fa-remove"></i> 删除
                    </a>
                    <a class="btn btn-warning" onclick="exportData()" shiro:hasPermission="im:group:log:export">
                        <i class="fa fa-download"></i> 导出
                    </a>
                </div>

                <!-- 搜索状态提示 -->
                <div class="search-status" id="searchStatus" style="display:none;">
                    <i class="fa fa-filter" style="color:#1c84c6;"></i>
                    搜索条件：<span class="search-conditions" style="color:#1c84c6; font-weight:500;"></span>
                    <a href="javascript:void(0)" onclick="clearSearch()" style="margin-left:10px; color:#1c84c6;">清除</a>
                </div>

                <!-- 数据表格 -->
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-table-export-js" />
    <script th:src="@{/js/im-common.js}"></script>
    <script th:inline="javascript">
        var removeFlag = [[${@permission.hasPermi('im:group:log:remove')}]];
        var prefix = ctx + "im/group/log";

        $(function() {
            loadStatistics();

            var options = {
                url: prefix + "/list",
                toolbar: "toolbar",
                height: 650,
                exportUrl: prefix + "/export",
                modalName: "群组管理日志",
                // 分页配置
                pagination: true,
                pageSize: 20,
                pageList: [10, 20, 50, 100],
                sidePagination: "server",
                // 固定列配置
                fixedColumns: true,
                fixedNumber: 1,
                fixedRightNumber: 1,
                // 列显示/隐藏配置
                showColumns: true,
                showColumnsToggleAll: true,
                // 记住列选择
                cookie: true,
                cookieIdTable: 'im_group_log_table',
                cookieExpire: '30d',
                // 导出配置
                showExport: true,
                exportDataType: 'selected',
                exportTypes: ['excel'],
                exportOptions: {
                    fileName: '群组管理日志'
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'groupName',
                    title: '群组名称',
                    width: '150',
                    formatter: function(value, row, index) {
                        return '<span class="text-primary"><i class="fa fa-users"></i> ' + (value || '-') + '</span>';
                    }
                }, {
                    field: 'operatorName',
                    title: '操作者',
                    width: '100',
                    formatter: function(value, row, index) {
                        return '<span class="text-info"><i class="fa fa-user"></i> ' + (value || '-') + '</span>';
                    }
                }, {
                    field: 'operationType',
                    title: '操作类型',
                    align: 'center',
                    width: '140',
                    formatter: function(value, row, index) {
                        var typeMap = {
                            'ADD_MEMBER': '<span class="badge badge-success"><i class="fa fa-plus"></i> 添加成员</span>',
                            'REMOVE_MEMBER': '<span class="badge badge-danger"><i class="fa fa-minus"></i> 移除成员</span>',
                            'CHANGE_ROLE': '<span class="badge badge-info"><i class="fa fa-exchange"></i> 修改角色</span>',
                            'MUTE_MEMBER': '<span class="badge badge-warning"><i class="fa fa-ban"></i> 禁言成员</span>',
                            'UNMUTE_MEMBER': '<span class="badge badge-primary"><i class="fa fa-unlock"></i> 解除禁言</span>',
                            'DISMISS_GROUP': '<span class="badge badge-danger"><i class="fa fa-trash"></i> 解散群组</span>',
                            'CHANGE_OWNER': '<span class="badge badge-warning"><i class="fa fa-share"></i> 转让群主</span>',
                            'UPDATE_INFO': '<span class="badge badge-info"><i class="fa fa-edit"></i> 修改群信息</span>'
                        };
                        return typeMap[value] || (value || '-');
                    }
                }, {
                    field: 'operationDesc',
                    title: '操作描述',
                    width: '350',
                    formatter: function(value, row, index) {
                        var desc = value || '-';
                        if (row.targetUserName) {
                            desc += ' <span class="text-muted">（目标：' + row.targetUserName + '）</span>';
                        }
                        if (desc.length > 50) {
                            return '<span title="' + desc + '">' + desc.substring(0, 50) + '...</span>';
                        }
                        return desc;
                    }
                }, {
                    field: 'targetUserName',
                    title: '目标用户',
                    width: '100',
                    formatter: function(value, row, index) {
                        return value ? '<span class="text-muted"><i class="fa fa-user"></i> ' + value + '</span>' : '-';
                    }
                }, {
                    field: 'createTime',
                    title: '操作时间',
                    width: '160',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return ImCommon.formatDateTimeWithRelative(value);
                    }
                }, {
                    title: '操作',
                    align: 'center',
                    width: '100',
                    formatter: function(value, row, index) {
                        var menuItems = [
                            { text: '删除', icon: 'fa-remove', action: '$.operate.remove(\'' + row.id + '\')', permissionClass: removeFlag }
                        ];

                        var mainAction = {
                            text: '删除',
                            icon: 'fa-remove',
                            action: '$.operate.remove(\'' + row.id + '\')',
                            permissionClass: removeFlag,
                            btnClass: 'btn-danger'
                        };

                        return ImCommon.buildActionDropdown(row, menuItems, mainAction);
                    }
                }],
                responseHandler: function(res) {
                    ImCommon.hideLoading();
                    return ImCommon.handleTableResponse(res, '暂无日志数据', '#bootstrap-table');
                },
                onLoadError: function(status) {
                    ImCommon.hideLoading();
                    $.modal.msgError("数据加载失败，请稍后重试");
                },
                onLoadSuccess: function() {
                    ImCommon.removeEmptyData('#bootstrap-table');
                },
                ajaxOptions: {
                    beforeSend: function() {
                        ImCommon.showLoading('.select-table');
                    },
                    complete: function() {
                        ImCommon.hideLoading();
                    }
                }
            };
            $.table.init(options);
        });

        /**
         * 加载统计数据
         */
        function loadStatistics() {
            ImCommon.loadStatisticsWithCache(
                prefix + "/statistics",
                function(data) {
                    $("#totalCount").text(data.totalCount || 0);
                    $("#addCount").text(data.addCount || 0);
                    $("#removeCount").text(data.removeCount || 0);
                    $("#changeCount").text(data.changeCount || 0);
                },
                'group_log_statistics',
                5
            );
        }

        /**
         * 导出数据
         */
        function exportData() {
            var currentFormId = $.table._option.formId;
            var params = $("#" + currentFormId).serializeArray();
            var url = $.table._option.exportUrl;
            $.modal.loading("正在导出数据，请稍候...");
            window.location.href = url + "?" + $.param(params);
            setTimeout(function() {
                $.modal.closeLoading();
            }, 2000);
        }

        /**
         * 清空搜索条件
         */
        function clearSearch() {
            $.form.reset();
            $('#searchStatus').hide();
            $.table.search();
        }

        /**
         * 执行搜索
         */
        function doSearch() {
            ImCommon.showSearchConditions('#log-form', '#searchStatus', 'clearSearch()');
            $.table.search();
        }
    </script>
</body>
</html>
