<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('群组管理日志')" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 statistics-section">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="statistics-card stat-bg-blue">
                            <div class="stat-number" id="totalCount">0</div>
                            <div class="stat-label">日志总数</div>
                            <i class="fa fa-list-alt stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="statistics-card stat-bg-green">
                            <div class="stat-number" id="addCount">0</div>
                            <div class="stat-label">添加成员</div>
                            <i class="fa fa-user-plus stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="statistics-card stat-bg-red">
                            <div class="stat-number" id="removeCount">0</div>
                            <div class="stat-label">移除成员</div>
                            <i class="fa fa-user-times stat-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="statistics-card stat-bg-orange">
                            <div class="stat-number" id="changeCount">0</div>
                            <div class="stat-label">修改角色</div>
                            <i class="fa fa-exchange stat-icon"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 search-collapse">
                <form id="log-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                群组ID：<input type="text" name="groupId" placeholder="请输入群组ID"/>
                            </li>
                            <li>
                                群组名称：<input type="text" name="groupName" placeholder="请输入群组名称"/>
                            </li>
                            <li>
                                操作者ID：<input type="text" name="operatorId" placeholder="请输入操作者ID"/>
                            </li>
                            <li>
                                操作类型：<select name="operationType">
                                    <option value="">所有</option>
                                    <option value="ADD_MEMBER">添加成员</option>
                                    <option value="REMOVE_MEMBER">移除成员</option>
                                    <option value="CHANGE_ROLE">修改角色</option>
                                    <option value="MUTE_MEMBER">禁言成员</option>
                                    <option value="UNMUTE_MEMBER">解除禁言</option>
                                    <option value="DISMISS_GROUP">解散群组</option>
                                    <option value="CHANGE_OWNER">转让群主</option>
                                    <option value="UPDATE_INFO">修改群信息</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="im:group:log:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-info" onclick="exportData()" shiro:hasPermission="im:group:log:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            <div class="col-sm-12 select-table table-striped">
			<div class="btn-group-sm" id="toolbar" role="group">
				<!-- Buttons moved here -->
			</div>
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var removeFlag = [[${@permission.hasPermi('im:group:log:remove')}]];
        var prefix = ctx + "im/group/log";

        $(function() {
            var options = {
                url: prefix + "/list",
				toolbar: "#toolbar",
				height: 650,
                exportUrl: prefix + "/export",
                modalName: "群组管理日志",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'groupName',
                    title: '群组名称',
                    width: '150',
                    formatter: function(value, row, index) {
                        return '<span class="text-primary"><i class="fa fa-users"></i> ' + (value || '-') + '</span>';
                    }
                },
                {
                    field: 'operatorName',
                    title: '操作者',
                    width: '100',
                    formatter: function(value, row, index) {
                        return '<span class="text-info"><i class="fa fa-user"></i> ' + (value || '-') + '</span>';
                    }
                },
                {
                    field: 'operationType',
                    title: '操作类型',
                    align: 'center',
                    width: '140',
                    formatter: function(value, row, index) {
                        var typeMap = {
                            'ADD_MEMBER': '<span class="badge badge-success"><i class="fa fa-plus"></i> 添加成员</span>',
                            'REMOVE_MEMBER': '<span class="badge badge-danger"><i class="fa fa-minus"></i> 移除成员</span>',
                            'CHANGE_ROLE': '<span class="badge badge-info"><i class="fa fa-exchange"></i> 修改角色</span>',
                            'MUTE_MEMBER': '<span class="badge badge-warning"><i class="fa fa-ban"></i> 禁言成员</span>',
                            'UNMUTE_MEMBER': '<span class="badge badge-primary"><i class="fa fa-unlock"></i> 解除禁言</span>',
                            'DISMISS_GROUP': '<span class="badge badge-danger"><i class="fa fa-trash"></i> 解散群组</span>',
                            'CHANGE_OWNER': '<span class="badge badge-warning"><i class="fa fa-share"></i> 转让群主</span>',
                            'UPDATE_INFO': '<span class="badge badge-info"><i class="fa fa-edit"></i> 修改群信息</span>'
                        };
                        return typeMap[value] || (value || '-');
                    }
                },
                {
                    field: 'operationDesc',
                    title: '操作描述',
                    width: '350',
                    formatter: function(value, row, index) {
                        var desc = value || '-';
                        if (row.targetUserName) {
                            desc += ' <span class="text-muted">（目标：' + row.targetUserName + '）</span>';
                        }
                        if (desc.length > 50) {
                            return '<span title="' + desc + '">' + desc.substring(0, 50) + '...</span>';
                        }
                        return desc;
                    }
                },
                {
                    field: 'targetUserName',
                    title: '目标用户',
                    width: '100',
                    formatter: function(value, row, index) {
                        return value ? '<span class="text-muted"><i class="fa fa-user"></i> ' + value + '</span>' : '-';
                    }
                },
                {
                    field: 'createTime',
                    title: '操作时间',
                    width: '160',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    width: '100',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });            });
        }

        function exportData() {
            var currentFormId = $.table._option.formId;
            var params = $("#" + currentFormId).serializeArray();
            var url = $.table._option.exportUrl;
            $.modal.loading("正在导出数据，请稍候...");
            window.location.href = url + "?" + $.param(params);
            setTimeout(function() {
                $.modal.closeLoading();
            }, 2000);
        }
    </script>
</body>
</html>
