<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ImMessageMapper">
    
    <resultMap type="ImMessage" id="ImMessageResult">
        <result property="id"    column="id"    />
        <result property="conversationId"    column="conversation_id"    />
        <result property="senderId"    column="sender_id"    />
        <result property="senderName"    column="sender_name"    />
        <result property="receiverId"    column="receiver_id"    />
        <result property="receiverName"    column="receiver_name"    />
        <result property="messageType"    column="message_type"    />
        <result property="content"    column="content"    />
        <result property="isRead"    column="is_read"    />
        <result property="isRevoked"    column="is_revoked"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectImMessageVo">
        select id, conversation_id, sender_id, sender_name, receiver_id, receiver_name, message_type, content, is_read, is_revoked, create_time, update_time from im_message
    </sql>

    <select id="selectImMessageList" parameterType="ImMessage" resultMap="ImMessageResult">
        <include refid="selectImMessageVo"/>
        <where>
            <if test="conversationId != null "> and conversation_id = #{conversationId}</if>
            <if test="senderId != null "> and sender_id = #{senderId}</if>
            <if test="receiverId != null "> and receiver_id = #{receiverId}</if>
            <if test="messageType != null  and messageType != ''"> and message_type = #{messageType}</if>
            <if test="isRead != null "> and is_read = #{isRead}</if>
            <if test="isRevoked != null "> and is_revoked = #{isRevoked}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectImMessageById" parameterType="Long" resultMap="ImMessageResult">
        <include refid="selectImMessageVo"/>
        where id = #{id}
    </select>

    <insert id="insertImMessage" parameterType="ImMessage" useGeneratedKeys="true" keyProperty="id">
        insert into im_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="conversationId != null">conversation_id,</if>
            <if test="senderId != null">sender_id,</if>
            <if test="senderName != null">sender_name,</if>
            <if test="receiverId != null">receiver_id,</if>
            <if test="receiverName != null">receiver_name,</if>
            <if test="messageType != null">message_type,</if>
            <if test="content != null">content,</if>
            <if test="isRead != null">is_read,</if>
            <if test="isRevoked != null">is_revoked,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="conversationId != null">#{conversationId},</if>
            <if test="senderId != null">#{senderId},</if>
            <if test="senderName != null">#{senderName},</if>
            <if test="receiverId != null">#{receiverId},</if>
            <if test="receiverName != null">#{receiverName},</if>
            <if test="messageType != null">#{messageType},</if>
            <if test="content != null">#{content},</if>
            <if test="isRead != null">#{isRead},</if>
            <if test="isRevoked != null">#{isRevoked},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateImMessage" parameterType="ImMessage">
        update im_message
        <trim prefix="set" suffixOverrides=",">
            <if test="conversationId != null">conversation_id = #{conversationId},</if>
            <if test="senderId != null">sender_id = #{senderId},</if>
            <if test="senderName != null">sender_name = #{senderName},</if>
            <if test="receiverId != null">receiver_id = #{receiverId},</if>
            <if test="receiverName != null">receiver_name = #{receiverName},</if>
            <if test="messageType != null">message_type = #{messageType},</if>
            <if test="content != null">content = #{content},</if>
            <if test="isRead != null">is_read = #{isRead},</if>
            <if test="isRevoked != null">is_revoked = #{isRevoked},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImMessageById" parameterType="Long">
        delete from im_message where id = #{id}
    </delete>

    <delete id="deleteImMessageByIds" parameterType="String">
        delete from im_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>