<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('好友请求管理')" />
    <link th:href="@{/css/im-admin.css}" rel="stylesheet"/>
    <link th:href="@{/css/im-stat-cards.css}" rel="stylesheet"/>
    <link th:href="@{/css/im-compact-layout.css}" rel="stylesheet"/>
    <style>
        .select-list ul li { margin: 0px 10px 5px 0px !important; }
        .select-list ul li input { width: 140px !important; }
        .select-list ul li select { width: 80px !important; }
        .time-input { width: 100px !important; }
    </style>
</head>
<body class="gray-bg">
    <div class="container-div im-page">
        <div class="row">
            <!-- 统计卡片区域 - 增强样式 -->
            <div class="col-sm-12" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins im-stat-card stat-card-primary" onclick="filterReset()">
                            <div class="ibox-title">
                                <span class="stat-badge pull-right">总</span>
                                <h5 style="color: #fff; margin: 0;">请求总数</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="stat-number" id="totalCount">0</div>
                                <div class="stat-label">全部好友请求</div>
                                <i class="fa fa-users stat-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins im-stat-card stat-card-warning" onclick="filterByStatus('PENDING')">
                            <div class="ibox-title">
                                <span class="stat-badge pull-right">待</span>
                                <h5 style="color: #fff; margin: 0;">待处理</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="stat-number" id="pendingCount">0</div>
                                <div class="stat-label">等待处理</div>
                                <i class="fa fa-clock-o stat-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins im-stat-card stat-card-success" onclick="filterByStatus('APPROVED')">
                            <div class="ibox-title">
                                <span class="stat-badge pull-right">同</span>
                                <h5 style="color: #fff; margin: 0;">已同意</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="stat-number" id="approvedCount">0</div>
                                <div class="stat-label">已同意请求</div>
                                <i class="fa fa-check stat-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins im-stat-card stat-card-danger" onclick="filterByStatus('REJECTED')">
                            <div class="ibox-title">
                                <span class="stat-badge pull-right">拒</span>
                                <h5 style="color: #fff; margin: 0;">已拒绝</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="stat-number" id="rejectedCount">0</div>
                                <div class="stat-label">已拒绝请求</div>
                                <i class="fa fa-times stat-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 search-collapse">
                <form id="friendRequest-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label class="search-label label-2">申请人</label><input type="text" name="fromUserId" placeholder="请输入ID"/>
                            </li>
                            <li>
                                <label class="search-label label-2">状态</label><select name="status">
                                    <option value="">全部</option>
                                    <option value="PENDING">待处理</option>
                                    <option value="APPROVED">已同意</option>
                                    <option value="REJECTED">已拒绝</option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label class="search-label label-4">申请时间</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <div class="btn-group-sm" id="toolbar">
                    <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="im:friendRequest:add">
                        <i class="fa fa-plus"></i> 新增
                    </a>
                    <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="im:friendRequest:edit">
                        <i class="fa fa-edit"></i> 修改
                    </a>
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="im:friendRequest:remove">
                        <i class="fa fa-remove"></i> 删除
                    </a>
                    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="im:friendRequest:export">
                        <i class="fa fa-download"></i> 导出
                    </a>
                </div>
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('im:friendRequest:edit')}]];
        var removeFlag = [[${@permission.hasPermi('im:friendRequest:remove')}]];
        var prefix = ctx + "im/friendRequest";

        $(function() {
            loadStatistics();

            var options = {
                url: prefix + "/list",
                toolbar: "toolbar",
                height: 650,
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "好友申请",
                pagination: true,
                pageSize: 20,
                pageList: [10, 20, 50, 100],
                sidePagination: "server",
                fixedColumns: true,
                fixedNumber: 1,
                fixedRightNumber: 1,
                showColumns: true,
                showColumnsToggleAll: true,
                cookie: true,
                cookieIdTable: 'im_friendRequest_table',
                cookieExpire: '30d',
                showExport: true,
                exportDataType: 'selected',
                exportTypes: ['excel'],
                exportOptions: {
                    fileName: '好友申请数据'
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'fromUserId',
                    title: '申请人ID',
                    width: '100'
                }, {
                    field: 'fromUsername',
                    title: '申请人账号',
                    width: '120'
                }, {
                    field: 'toUsername',
                    title: '接收人',
                    width: '120',
                    formatter: function(value, row, index) {
                        return value || '-';
                    }
                }, {
                    field: 'message',
                    title: '申请消息',
                    width: '200',
                    formatter: function(value, row, index) {
                        if (!value) return '<span class="text-muted">-</span>';
                        if (value.length > 30) {
                            return value.substring(0, 30) + '...';
                        }
                        return value;
                    }
                }, {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    width: '90',
                    formatter: function(value, row, index) {
                        if (value === 'PENDING') { return '<span class="badge badge-warning">待处理</span>'; }
                        if (value === 'APPROVED') { return '<span class="badge badge-success">已同意</span>'; }
                        if (value === 'REJECTED') { return '<span class="badge badge-danger">已拒绝</span>'; }
                        return '<span class="badge badge-default">-</span>';
                    }
                }, {
                    field: 'createTime',
                    title: '申请时间',
                    width: '160',
                    sortable: true
                }, {
                    field: 'processTime',
                    title: '处理时间',
                    width: '160'
                }, {
                    title: '操作',
                    align: 'center',
                    width: '120',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(' + row.id + ')"><i class="fa fa-edit"></i>修改</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }],
                responseHandler: function(res) {
                    $.modal.closeLoading();
                    if (res.code === 0) {
                        return { rows: res.rows, total: res.total };
                    } else {
                        $.modal.alertWarning(res.msg);
                        return { rows: [], total: 0 };
                    }
                }
            };
            $.table.init(options);
        });

        function loadStatistics() {
            $.get(prefix + "/statistics", function(result) {
                if (result.code === 0) {
                    var data = result.data || {};
                    animateNumber('totalCount', data.totalCount || 0);
                    animateNumber('pendingCount', data.pendingCount || 0);
                    animateNumber('approvedCount', data.approvedCount || 0);
                    animateNumber('rejectedCount', data.rejectedCount || 0);
                }
            });
        }

        /* 数字动画效果 */
        function animateNumber(elementId, targetValue) {
            var $element = $('#' + elementId);
            var currentValue = parseInt($element.text()) || 0;
            var diff = targetValue - currentValue;
            var duration = 500;
            var steps = 20;
            var stepValue = diff / steps;
            var stepDuration = duration / steps;
            var currentStep = 0;

            $element.addClass('animate');

            var timer = setInterval(function() {
                currentStep++;
                currentValue = Math.round(currentValue + stepValue);
                if (currentStep >= steps) {
                    currentValue = targetValue;
                    clearInterval(timer);
                    setTimeout(function() {
                        $element.removeClass('animate');
                    }, 200);
                }
                $element.text(currentValue);
            }, stepDuration);
        }

        /* 重置筛选 */
        function filterReset() {
            $.form.reset();
            $.table.search();
        }

        /* 按状态筛选 */
        function filterByStatus(status) {
            if (status) {
                $('select[name="status"]').val(status);
            } else {
                $('select[name="status"]').val('');
            }
            $.table.search();
        }
    </script>
</body>
</html>
