<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <th:block th:include="include :: header('群组管理')" />
</head>

<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <!-- 统计卡片区域 -->
            <div class="col-sm-12" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins" onclick="filterReset()" style="cursor: pointer;">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">总</span>
                                <h5>群组总数</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-success" id="totalCount">0</h2>
                                <small>系统群组总数</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins" onclick="filterByToday()" style="cursor: pointer;">
                            <div class="ibox-title">
                                <span class="label label-info pull-right">今</span>
                                <h5>今日新建</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-info" id="todayCount">0</h2>
                                <small>今日创建群组</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins" onclick="filterByActive()" style="cursor: pointer;">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">活</span>
                                <h5>活跃群组</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-navy" id="activeCount">0</h2>
                                <small>近7天有消息</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins" onclick="filterByLarge()" style="cursor: pointer;">
                            <div class="ibox-title">
                                <span class="label label-cyan pull-right"
                                    style="background-color: #17a2b8; color: #fff;">员</span>
                                <h5>成员总数</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins text-cyan" id="memberCount" style="color: #17a2b8;">0</h2>
                                <small>群组成员总数</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 搜索表单 -->
            <div class="col-sm-12 search-collapse">
                <form id="group-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                群名：<input type="text" name="name" placeholder="请输入群组名称" />
                            </li>
                            <li>
                                群主：<input type="text" name="ownerName" placeholder="请输入群主名称" />
                            </li>
                            <li>
                                类型：<select name="groupType">
                                    <option value="">全部</option>
                                    <option value="PUBLIC">公开</option>
                                    <option value="PRIVATE">私有</option>
                                </select>
                            </li>
                            <li>
                                禁言：<select name="allMuted">
                                    <option value="">全部</option>
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </li>
                            <li>
                                状态：<select name="status">
                                    <option value="">全部</option>
                                    <option value="1">正常</option>
                                    <option value="0">禁用</option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>创建时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始"
                                    name="params[beginTime]" />
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束"
                                    name="params[endTime]" />
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!-- 工具栏 + 表格 -->
            <div class="col-sm-12 select-table table-striped">
                <div class="btn-group-sm" id="toolbar" role="group">
                    <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="im:group:add">
                        <i class="fa fa-plus"></i> 新增
                    </a>
                    <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
                        shiro:hasPermission="im:group:edit">
                        <i class="fa fa-edit"></i> 修改
                    </a>
                    <a class="btn btn-warning multiple disabled" onclick="batchMute()"
                        shiro:hasPermission="im:group:edit">
                        <i class="fa fa-ban"></i> 禁言
                    </a>
                    <a class="btn btn-success multiple disabled" onclick="batchUnmute()"
                        shiro:hasPermission="im:group:edit">
                        <i class="fa fa-check"></i> 解禁
                    </a>
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                        shiro:hasPermission="im:group:remove">
                        <i class="fa fa-trash"></i> 解散
                    </a>
                    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="im:group:export">
                        <i class="fa fa-download"></i> 导出
                    </a>
                </div>
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-table-export-js" />
    <script th:src="@{/js/im-common.js}"></script>
    <script th:inline="javascript">
        var prefix = ctx + "im/group";

        $(function () {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                sortName: "createTime",
                sortOrder: "desc",
                modalName: "群组",
                showColumns: true,
                showRefresh: false,
                showToggle: false,
                clickToSelect: true,
                rememberSelected: true,
                pagination: true,
                pageSize: 20,
                pageList: [10, 20, 50, 100],
                sidePagination: "server",
                columns: [{
                    checkbox: true,
                    width: 40,
                    align: 'center'
                }, {
                    field: 'id',
                    title: 'ID',
                    visible: false,
                    width: 60
                }, {
                    field: 'avatar',
                    title: '头像',
                    align: 'center',
                    width: 50,
                    formatter: function (value, row, index) {
                        var img = value || ctx + 'img/profile.jpg';
                        return '<img src="' + img + '" class="img-circle img-xs" style="width:24px;height:24px;" onerror="this.src=\'' + ctx + 'img/profile.jpg\'">';
                    }
                }, {
                    field: 'name',
                    title: '群组名称',
                    width: 140,
                    sortable: true,
                    formatter: function (value) {
                        return '<strong>' + (value || '-') + '</strong>';
                    }
                }, {
                    field: 'groupType',
                    title: '类型',
                    width: 60,
                    align: 'center',
                    formatter: function (value) {
                        if (value == 'PUBLIC') {
                            return '<span class="im-badge im-badge-primary">公开</span>';
                        } else {
                            return '<span class="im-badge im-badge-success">私有</span>';
                        }
                    }
                }, {
                    field: 'ownerId',
                    title: '群主ID',
                    width: 80,
                    visible: false
                }, {
                    field: 'ownerName',
                    title: '群主',
                    width: 80,
                    formatter: function (value) {
                        return value || '-';
                    }
                }, {
                    field: 'memberCount',
                    title: '成员数',
                    width: 60,
                    align: 'center',
                    sortable: true,
                    formatter: function (value) {
                        return '<span class="im-badge im-badge-info">' + (value || 0) + '</span>';
                    }
                }, {
                    field: 'maxMembers',
                    title: '最大成员',
                    width: 70,
                    align: 'center',
                    formatter: function (value) {
                        return value || 200;
                    }
                }, {
                    field: 'allMuted',
                    title: '全员禁言',
                    width: 70,
                    align: 'center',
                    formatter: function (value) {
                        if (value == 1) {
                            return '<span class="im-badge im-badge-warning">是</span>';
                        } else {
                            return '<span class="im-badge im-badge-info">否</span>';
                        }
                    }
                }, {
                    field: 'status',
                    title: '状态',
                    width: 60,
                    align: 'center',
                    formatter: function (value) {
                        if (value == 1) {
                            return '<span class="im-badge im-badge-success">正常</span>';
                        } else {
                            return '<span class="im-badge im-badge-danger">禁用</span>';
                        }
                    }
                }, {
                    field: 'introduction',
                    title: '群简介',
                    width: 150,
                    formatter: function (value) {
                        if (!value) return '-';
                        if (value.length > 20) {
                            return '<span title="' + value + '">' + value.substring(0, 20) + '...</span>';
                        }
                        return value;
                    }
                }, {
                    field: 'createTime',
                    title: '创建时间',
                    width: 140,
                    sortable: true,
                    formatter: function (value) {
                        return value || '-';
                    }
                }, {
                    field: 'updateTime',
                    title: '更新时间',
                    width: 140,
                    sortable: true,
                    visible: false
                }, {
                    title: '操作',
                    align: 'center',
                    width: 180,
                    class: 'action-cell',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')" title="编辑"><i class="fa fa-edit"></i></a> ');
                        actions.push('<a class="btn btn-' + (row.allMuted == 1 ? 'success' : 'warning') + ' btn-xs" href="javascript:void(0)" onclick="toggleMute(\'' + row.id + '\',' + (row.allMuted == 1 ? '0' : '1') + ')" title="' + (row.allMuted == 1 ? '解除禁言' : '禁言') + '"><i class="fa fa-' + (row.allMuted == 1 ? 'check' : 'ban') + '"></i></a> ');
                        actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="showMembers(\'' + row.id + '\')" title="成员管理"><i class="fa fa-users"></i></a> ');
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="viewDetail(\'' + row.id + '\')" title="详情"><i class="fa fa-eye"></i></a> ');
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')" title="解散"><i class="fa fa-trash"></i></a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
            loadStatistics();
        });

        /* 加载群组统计数据 */
        function loadStatistics() {
            $.ajax({
                url: prefix + "/statistics",
                type: "GET",
                success: function (result) {
                    if (result.code == 0 && result.data) {
                        animateNumber('totalCount', result.data.totalCount || 0);
                        animateNumber('todayCount', result.data.todayCount || 0);
                        animateNumber('activeCount', result.data.activeCount || 0);
                        animateNumber('memberCount', result.data.memberCount || 0);
                    }
                }
            });
        }

        /* 数字动画效果 */
        function animateNumber(elementId, targetValue) {
            var $element = $('#' + elementId);
            var currentValue = parseInt($element.text()) || 0;
            var diff = targetValue - currentValue;
            var duration = 500;
            var steps = 20;
            var stepValue = diff / steps;
            var stepDuration = duration / steps;
            var currentStep = 0;

            $element.addClass('animate');

            var timer = setInterval(function () {
                currentStep++;
                currentValue = Math.round(currentValue + stepValue);
                if (currentStep >= steps) {
                    currentValue = targetValue;
                    clearInterval(timer);
                    setTimeout(function () {
                        $element.removeClass('animate');
                    }, 200);
                }
                $element.text(currentValue);
            }, stepDuration);
        }

        /* 重置筛选 */
        function filterReset() {
            $('select[name="groupType"]').val('');
            $('select[name="allMuted"]').val('');
            $('select[name="status"]').val('');
            $.table.search();
        }

        /* 按今日筛选 */
        function filterByToday() {
            var today = new Date();
            var todayStr = today.getFullYear() + '-' +
                String(today.getMonth() + 1).padStart(2, '0') + '-' +
                String(today.getDate()).padStart(2, '0');
            $('input[name="params[beginTime]"]').val(todayStr + ' 00:00:00');
            $('input[name="params[endTime]"]').val(todayStr + ' 23:59:59');
            $.table.search();
        }

        /* 按活跃筛选 */
        function filterByActive() {
            $('input[name="name"]').val('');
            $('input[name="ownerName"]').val('');
            $('select[name="groupType"]').val('');
            $('select[name="allMuted"]').val('');
            $('select[name="status"]').val('1');
            $.table.search();
        }

        /* 按大群筛选 */
        function filterByLarge() {
            $('select[name="groupType"]').val('');
            $('select[name="status"]').val('');
            $.table.search();
        }

        /* 切换禁言状态 */
        function toggleMute(id, muted) {
            $.modal.confirm('确定要' + (muted == 1 ? '解除禁言' : '禁言') + '该群组吗？', function () {
                $.operate.post(prefix + "/toggleMute", { groupId: id, allMuted: muted }, function (res) {
                    if (res.code == 0) {
                        $.modal.msgSuccess("操作成功");
                        $.table.refresh();
                        loadStatistics();
                    }
                });
            });
        }

        /* 批量禁言 */
        function batchMute() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $.modal.confirm('确定要批量禁言选中的 ' + rows.length + ' 个群组吗？', function () {
                $.operate.post(prefix + "/batchMute", { groupIds: rows.join() }, function (res) {
                    if (res.code == 0) {
                        $.modal.msgSuccess("批量禁言成功");
                        $.table.refresh();
                        loadStatistics();
                    }
                });
            });
        }

        /* 批量解除禁言 */
        function batchUnmute() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $.modal.confirm('确定要批量解除禁言选中的 ' + rows.length + ' 个群组吗？', function () {
                $.operate.post(prefix + "/batchUnmute", { groupIds: rows.join() }, function (res) {
                    if (res.code == 0) {
                        $.modal.msgSuccess("批量解除禁言成功");
                        $.table.refresh();
                        loadStatistics();
                    }
                });
            });
        }

        /* 查看群组成员 */
        function showMembers(id) {
            $.modal.open("群组成员管理", prefix + "/members/" + id, 900, 600);
        }

        /* 查看详情 */
        function viewDetail(id) {
            $.get(prefix + "/detail/" + id, function (result) {
                if (result.code == 0) {
                    var data = result.data;
                    var html = '<div class="row">';
                    html += '<div class="col-sm-6"><label class="control-label">群组ID：</label>' + (data.id || '-') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">群组名称：</label>' + (data.name || '-') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">群组类型：</label>' + (data.groupType == 'PUBLIC' ? '公开' : '私有') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">群主：</label>' + (data.ownerName || '-') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">成员数量：</label>' + (data.memberCount || 0) + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">最大成员：</label>' + (data.maxMembers || 200) + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">全员禁言：</label>' + (data.allMuted == 1 ? '是' : '否') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">状态：</label>' + (data.status == 1 ? '正常' : '禁用') + '</div>';
                    html += '<div class="col-sm-12"><label class="control-label">群简介：</label>' + (data.introduction || '-') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">创建时间：</label>' + (data.createTime || '-') + '</div>';
                    html += '<div class="col-sm-6"><label class="control-label">更新时间：</label>' + (data.updateTime || '-') + '</div>';
                    html += '</div>';
                    $.modal.openOptions({
                        title: '群组详情',
                        width: "700",
                        btn: ['关闭'],
                        content: html
                    });
                }
            });
        }
    </script>
</body>

</html>