<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('待办事项管理')" />
    <link th:href="@{/css/im-admin.css}" rel="stylesheet"/>
    <link th:href="@{/ajax/libs/datapicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
    <div class="container-div im-page">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="todoItem-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                待办总数：<a onclick="$.table.search()"><span class="label label-primary" id="totalCount">0</span></a>
                            </li>
                            <li>
                                待处理：<a onclick="$('select[name=\\'status\\']').val('PENDING');$.table.search()"><span class="label label-warning" id="pendingCount">0</span></a>
                            </li>
                            <li>
                                进行中：<a onclick="$('select[name=\\'status\\']').val('IN_PROGRESS');$.table.search()"><span class="label label-info" id="inProgressCount">0</span></a>
                            </li>
                            <li>
                                已逾期：<a onclick="$.table.search()"><span class="label label-danger" id="overdueCount">0</span></a>
                            </li>
                            <li class="pull-right">
                                <label class="input-label">用户名：</label><input type="text" name="username" placeholder="请输入用户名"/>
                            </li>
                            <li class="pull-right">
                                <label class="input-label">优先级：</label><select name="priority">
                                    <option value="">所有</option>
                                    <option value="1">低</option>
                                    <option value="2">中</option>
                                    <option value="3">高</option>
                                </select>
                            </li>
                            <li class="pull-right">
                                <label class="input-label">状态：</label><select name="status">
                                    <option value="">所有</option>
                                    <option value="PENDING">待办</option>
                                    <option value="IN_PROGRESS">进行中</option>
                                    <option value="COMPLETED">已完成</option>
                                    <option value="CANCELLED">已取消</option>
                                </select>
                            </li>
                            <li class="select-time pull-right">
                                <label>截止时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <div class="btn-group-sm" id="toolbar">
                    <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="im:todoItem:add">
                        <i class="fa fa-plus"></i> 新增
                    </a>
                    <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="im:todoItem:edit">
                        <i class="fa fa-edit"></i> 修改
                    </a>
                    <a class="btn btn-info single disabled" onclick="startItem()" shiro:hasPermission="im:todoItem:edit">
                        <i class="fa fa-play"></i> 开始
                    </a>
                    <a class="btn btn-success single disabled" onclick="completeItem()" shiro:hasPermission="im:todoItem:edit">
                        <i class="fa fa-check"></i> 完成
                    </a>
                    <a class="btn btn-warning single disabled" onclick="cancelItem()" shiro:hasPermission="im:todoItem:edit">
                        <i class="fa fa-times"></i> 取消
                    </a>
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="im:todoItem:remove">
                        <i class="fa fa-remove"></i> 删除
                    </a>
                    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="im:todoItem:export">
                        <i class="fa fa-download"></i> 导出
                    </a>
                </div>
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-table-export-js" />
    <script th:src="@{/ajax/libs/datapicker/bootstrap-datetimepicker.min.js}"></script>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('im:todoItem:edit')}]];
        var removeFlag = [[${@permission.hasPermi('im:todoItem:remove')}]];
        var prefix = ctx + "im/todoItem";

        $(function() {
            loadStatistics();
            initDatePicker();

            var options = {
                url: prefix + "/list",
                toolbar: "toolbar",
                height: 650,
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "待办事项",
                pagination: true,
                pageSize: 20,
                pageList: [10, 20, 50, 100],
                sidePagination: "server",
                fixedColumns: true,
                fixedNumber: 1,
                fixedRightNumber: 1,
                showColumns: true,
                showColumnsToggleAll: true,
                cookie: true,
                cookieIdTable: 'im_todo_item_table',
                cookieExpire: '30d',
                showExport: true,
                exportDataType: 'selected',
                exportTypes: ['excel'],
                exportOptions: {
                    fileName: '待办事项数据'
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'ID',
                    visible: false
                }, {
                    field: 'username',
                    title: '创建人',
                    sortable: true,
                    formatter: function(value, row, index) {
                        var name = value || '-';
                        if (row.nickname) {
                            return name + ' (' + row.nickname + ')';
                        }
                        return name;
                    }
                }, {
                    field: 'title',
                    title: '待办标题',
                    width: '250',
                    formatter: function(value, row, index) {
                        var icon = '';
                        if (row.priority == 3) icon = '<i class="fa fa-exclamation-circle text-danger"></i> ';
                        return icon + '<strong>' + (value || '-') + '</strong>';
                    }
                }, {
                    field: 'description',
                    title: '描述',
                    width: '200',
                    formatter: function(value, row, index) {
                        if (!value) return '-';
                        if (value.length > 30) {
                            return '<span title="' + value + '">' + value.substring(0, 30) + '...</span>';
                        }
                        return value;
                    }
                }, {
                    field: 'priority',
                    title: '优先级',
                    align: 'center',
                    width: '80',
                    formatter: function(value, row, index) {
                        if (value == 3) return '<span class="badge badge-danger">高</span>';
                        if (value == 2) return '<span class="badge badge-warning">中</span>';
                        return '<span class="badge badge-primary">低</span>';
                    }
                }, {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    width: '100',
                    formatter: function(value, row, index) {
                        if (value === 'PENDING') { return '<span class="badge badge-warning">待办</span>'; }
                        if (value === 'IN_PROGRESS') { return '<span class="badge badge-info">进行中</span>'; }
                        if (value === 'COMPLETED') { return '<span class="badge badge-success">已完成</span>'; }
                        if (value === 'CANCELLED') { return '<span class="badge badge-default">已取消</span>'; }
                        return '<span class="badge badge-default">' + (value || '-') + '</span>';
                    }
                }, {
                    field: 'dueDate',
                    title: '截止日期',
                    width: '120',
                    formatter: function(value, row, index) {
                        if (!value) return '-';
                        var now = new Date();
                        var due = new Date(value);
                        var diff = Math.ceil((due - now) / (1000 * 60 * 60 * 24));
                        if (diff < 0 && row.status !== 'COMPLETED') {
                            return '<span class="text-danger"><i class="fa fa-exclamation-triangle"></i> ' + value + '</span>';
                        } else if (diff <= 2 && row.status !== 'COMPLETED') {
                            return '<span class="text-warning"><i class="fa fa-clock-o"></i> ' + value + '</span>';
                        }
                        return value;
                    }
                }, {
                    field: 'completedTime',
                    title: '完成时间',
                    width: '160',
                    formatter: function(value, row, index) {
                        return value || '-';
                    }
                }, {
                    field: 'createTime',
                    title: '创建时间',
                    width: '160',
                    sortable: true
                }, {
                    title: '操作',
                    align: 'center',
                    width: '200',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(' + row.id + ')"><i class="fa fa-edit"></i>编辑</a> ');
                        if (row.status === 'PENDING') {
                            actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="startOne(' + row.id + ')"><i class="fa fa-play"></i>开始</a> ');
                        }
                        if (row.status === 'PENDING' || row.status === 'IN_PROGRESS') {
                            actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="completeOne(' + row.id + ')"><i class="fa fa-check"></i>完成</a> ');
                            actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="cancelOne(' + row.id + ')"><i class="fa fa-times"></i>取消</a> ');
                        }
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }],
                responseHandler: function(res) {
                    $.modal.closeLoading();
                    if (res.code === 0) {
                        return { rows: res.rows, total: res.total };
                    } else {
                        $.modal.alertWarning(res.msg);
                        return { rows: [], total: 0 };
                    }
                }
            };
            $.table.init(options);
        });

        function loadStatistics() {
            $.get(prefix + "/statistics", function(result) {
                if (result.code === 0) {
                    $("#totalCount").text(result.data.totalCount || 0);
                    $("#pendingCount").text(result.data.pendingCount || 0);
                    $("#inProgressCount").text(result.data.inProgressCount || 0);
                    $("#overdueCount").text(result.data.overdueCount || 0);
                }
            });
        }

        function initDatePicker() {
            var options = {
                showYesterday: true,
                showToday: true,
                showClear: true,
                minView: "month"
            };
            $("#startTime").datetimepicker(options);
            $("#endTime").datetimepicker(options);
        }

        function startItem() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            startOne(rows[0]);
        }

        function startOne(id) {
            $.modal.confirm("确定要开始该待办吗？", function() {
                $.ajax({
                    url: prefix + "/start/" + id,
                    type: 'put',
                    success: function(result) {
                        if (result.code == 0) {
                            $.modal.msgSuccess("操作成功");
                            $.table.refresh();
                        } else {
                            $.modal.alertError(result.msg || "操作失败");
                        }
                    }
                });
            });
        }

        function completeItem() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            completeOne(rows[0]);
        }

        function completeOne(id) {
            $.modal.confirm("确定要完成该待办吗？", function() {
                $.ajax({
                    url: prefix + "/complete/" + id,
                    type: 'put',
                    success: function(result) {
                        if (result.code == 0) {
                            $.modal.msgSuccess("操作成功");
                            $.table.refresh();
                        } else {
                            $.modal.alertError(result.msg || "操作失败");
                        }
                    }
                });
            });
        }

        function cancelItem() {
            var rows = $.table.selectFirstColumns();
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            cancelOne(rows[0]);
        }

        function cancelOne(id) {
            $.modal.confirm("确定要取消该待办吗？", function() {
                $.ajax({
                    url: prefix + "/cancel/" + id,
                    type: 'put',
                    success: function(result) {
                        if (result.code == 0) {
                            $.modal.msgSuccess("操作成功");
                            $.table.refresh();
                        } else {
                            $.modal.alertError(result.msg || "操作失败");
                        }
                    }
                });
            });
        }
    </script>
</body>
</html>
