<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.ImEmailMapper">

    <resultMap type="com.ruoyi.web.domain.ImEmail" id="ImEmailResult">
        <id property="id" column="id"/>
        <result property="senderId" column="sender_id"/>
        <result property="senderName" column="sender_name"/>
        <result property="senderEmail" column="sender_email"/>
        <result property="receiverId" column="receiver_id"/>
        <result property="receiverName" column="receiver_name"/>
        <result property="subject" column="subject"/>
        <result property="htmlContent" column="html_content"/>
        <result property="textContent" column="text_content"/>
        <result property="isRead" column="is_read"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="isStarred" column="is_starred"/>
        <result property="folder" column="folder"/>
        <result property="attachmentCount" column="attachment_count"/>
        <result property="sendTime" column="send_time"/>
        <result property="receiveTime" column="receive_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectImEmailVo">
        select e.id, e.sender_id, e.sender_email, e.receiver_id,
               e.subject, e.html_content, e.text_content, e.is_read, e.is_deleted,
               e.is_starred, e.folder, e.attachment_count, e.send_time, e.receive_time, e.create_time,
               u1.nickname as sender_name,
               u2.nickname as receiver_name
        from im_email e
        left join im_user u1 on e.sender_id = u1.id
        left join im_user u2 on e.receiver_id = u2.id
    </sql>

    <select id="selectImEmailList" parameterType="com.ruoyi.web.domain.ImEmail" resultMap="ImEmailResult">
        <include refid="selectImEmailVo"/>
        <where>
            e.is_deleted = 0
            <if test="senderId != null">and e.sender_id = #{senderId}</if>
            <if test="receiverId != null">and e.receiver_id = #{receiverId}</if>
            <if test="folder != null and folder != ''">and e.folder = #{folder}</if>
            <if test="subject != null and subject != ''">and e.subject like concat('%', #{subject}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''">and date_format(e.receive_time,'%Y-%m-%d') &gt;= date_format(#{params.beginTime},'%Y-%m-%d')</if>
            <if test="params.endTime != null and params.endTime != ''">and date_format(e.receive_time,'%Y-%m-%d') &lt;= date_format(#{params.endTime},'%Y-%m-%d')</if>
        </where>
        order by e.receive_time desc
    </select>

    <select id="selectImEmailById" parameterType="Long" resultMap="ImEmailResult">
        <include refid="selectImEmailVo"/>
        where e.id = #{id}
    </select>

    <insert id="insertImEmail" parameterType="com.ruoyi.web.domain.ImEmail" useGeneratedKeys="true" keyProperty="id">
        insert into im_email
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="senderId != null">sender_id,</if>
            <if test="senderName != null">sender_name,</if>
            <if test="senderEmail != null">sender_email,</if>
            <if test="receiverId != null">receiver_id,</if>
            <if test="subject != null">subject,</if>
            <if test="htmlContent != null">html_content,</if>
            <if test="textContent != null">text_content,</if>
            <if test="isRead != null">is_read,</if>
            <if test="isStarred != null">is_starred,</if>
            <if test="folder != null">folder,</if>
            <if test="attachmentCount != null">attachment_count,</if>
            <if test="sendTime != null">send_time,</if>
            <if test="receiveTime != null">receive_time,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="senderId != null">#{senderId},</if>
            <if test="senderName != null">#{senderName},</if>
            <if test="senderEmail != null">#{senderEmail},</if>
            <if test="receiverId != null">#{receiverId},</if>
            <if test="subject != null">#{subject},</if>
            <if test="htmlContent != null">#{htmlContent},</if>
            <if test="textContent != null">#{textContent},</if>
            <if test="isRead != null">#{isRead},</if>
            <if test="isStarred != null">#{isStarred},</if>
            <if test="folder != null">#{folder},</if>
            <if test="attachmentCount != null">#{attachmentCount},</if>
            <if test="sendTime != null">#{sendTime},</if>
            <if test="receiveTime != null">#{receiveTime},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateImEmail" parameterType="com.ruoyi.web.domain.ImEmail">
        update im_email
        <trim prefix="SET" suffixOverrides=",">
            <if test="subject != null">subject = #{subject},</if>
            <if test="textContent != null">text_content = #{textContent},</if>
            <if test="htmlContent != null">html_content = #{htmlContent},</if>
            <if test="isRead != null">is_read = #{isRead},</if>
            <if test="isStarred != null">is_starred = #{isStarred},</if>
            <if test="folder != null">folder = #{folder},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImEmailByIds" parameterType="Long">
        update im_email set is_deleted = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getEmailStatistics" resultType="java.util.Map">
        select
            (SELECT COUNT(*) FROM im_email WHERE is_deleted = 0) as totalCount,
            (SELECT COUNT(*) FROM im_email WHERE is_deleted = 0 AND is_read = 0) as unreadCount,
            (SELECT COUNT(*) FROM im_email WHERE is_deleted = 0 AND is_starred = 1) as starredCount,
            (SELECT COUNT(*) FROM im_email WHERE folder = 'SENT' AND is_deleted = 0) as sentCount
        from dual
    </select>

    <update id="batchUpdateIsRead">
        update im_email set is_read = #{isRead} where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="batchUpdateFolder">
        update im_email set folder = #{folder} where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="deleteImEmailById" parameterType="Long">
        update im_email set is_deleted = 1 where id = #{id}
    </delete>

    <delete id="deleteEmailsByFolder" parameterType="String">
        update im_email set is_deleted = 1 where folder = #{folder}
    </delete>

    <select id="countEmails" parameterType="com.ruoyi.web.domain.ImEmail" resultType="int">
        select count(*) from im_email
        <where>
            is_deleted = 0
            <if test="folder != null and folder != ''">and folder = #{folder}</if>
            <if test="isRead != null">and is_read = #{isRead}</if>
        </where>
    </select>
</mapper>
